<!-- breadcrumbs -->
<table width='100%' height='20' cellpadding='6' cellspacing='0'>
 <tr bgcolor='#f4f4f4'>
  <td width='50%' align='left' valign='center'>
  <span id='breadcrumbs'>
  &nbsp;{lang text="breadcrumbs"}{strip}
{foreach item=item from=$breadcrumbs->get_items()}
  {if $item->is_separator()}
    &nbsp;&gt;
  {elseif !$item->is_link()}
    &nbsp;{$item->get_text()|escape|replace:" ":"&nbsp;"}
  {else}
    &nbsp;<a href='{$item->get_url_string()|escape}'>{$item->get_text()|escape|replace:" ":"&nbsp;"}</a>
  {/if}
{/foreach}
{/strip}
  </span>
  </td>
  <td width='50%' align='right' valign='center'>
  </td>
 </tr>
</table>
<!-- end breadcrumbs -->
<!-- forum links -->
<table width='100%' cellpadding='5' cellspacing='0'>
 <tr>
  <td align='center'>
  <span id='forum_links'>
  {strip}
{foreach name=loop item=item from=$forum_links->get_items()}
  {if $smarty.foreach.loop.index > 0}&nbsp;|&nbsp;{/if}
  {if $item->is_link()}
    <a href='{$item->get_url_string()|escape}'>{$item->get_text()|escape|replace:" ":"&nbsp;"}</a>
  {else}
    {$item->get_text()|escape|replace:" ":"&nbsp;"}
  {/if}
{/foreach}
{/strip}
  </span>
  </td>
 </tr>
</table>
<!-- end forum links -->
