<p>
<h2>{lang text="change_password_title"|escape}</h2>
{lang text="change_password_text"|escape}

{if $hint}
<p>
<font color='red' size='+1'>{$hint|escape}</font>
{/if}

<p>
<form action='{$action|escape}' method='post' accept-charset='utf-8'>
<b>{lang text="change_password"|escape}</b><br/>
<input type="password" name="password" size="20" value="{$password|escape}"><br/>
<b>{lang text="change_password2"|escape}</b><br/>
<input type="password" name="password2" size="20" value="{$password2|escape}"><br/>

<p>
<input type="hidden" name="action"   value="submit_password">
<input type="hidden" name="hash"     value="{$user->get_confirmation_hash()|escape}">
<input type="hidden" name="username" value="{$user->get_name()|escape}"><br/>
<input type="submit" value="{lang text="change_password_btn"|escape}">
</form>
