<!-- footer -->
<table width='100%' cellspacing='0' cellpadding='5' border='0'>
 <tr>
  <td align='center'>
  {strip}
{foreach name=loop item=item from=$footer_links->get_items()}
  {if $smarty.foreach.loop.index > 0}&nbsp;&nbsp;&nbsp;{/if}
  {if !$item->get_text()}
    |&nbsp;&nbsp;&nbsp;
  {elseif !$item->get_url_string()}
    {$item->get_text()|escape|replace:" ":"&nbsp;"}
  {else}
    <a href='{$item->get_url_string()|escape}'>{$item->get_text()|escape|replace:" ":"&nbsp;"}</a>
  {/if}
{/foreach}
{/strip}
  </td>
 </tr>
</table>
<table width='100%' cellspacing='0' cellpadding='5' border='0'>
 <tr>
  <td align='center'>
  <hr>
  <span id="powered_by">
  Powered by <a href='{$version.url}'>{$version.text}</a>.
  </span>
  </td>
 </tr>
</table>
<!-- end footer -->
