<p>
<h2>{lang text="resetpasswd_title"|escape}</h2>

{if $hint}
<p>
<font color='red' size='+1'>{$hint|escape}</font>
{/if}

<p>
<form action='{$action|escape}' method='post' accept-charset='utf-8'>
<input type='hidden' name='action' value='password_mail_submit'>
<b>{lang text="register_mail"|escape}</b><br/>
<input type="text" name="acc_mail" size="42" value="{$user->get_mail()|escape}"><br/>

<p>
<input type="submit" name="acc_create" value="{lang text="resetpasswd"|escape}"> 
</form>
