<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- header -->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <link rel="stylesheet" type="text/css" href="{$__theme_dir}/style.css" />
  <title>{$title|escape}</title>
</head>
<body>
<table id='header' width='100%' cellpadding='2' cellspacing='0' summary=''>
 <tr>
  <td>&nbsp;</td>
  <td>
    <a href='.'><img id='logo' src='{$__theme_dir}/img/logo.png' alt='' /></a>
  </td>
  <td>&nbsp;</td>
  <td id='header_middle' align='left' valign='middle'>
    <a href='.'><span id='title'>{$site_title|escape}</span></a>
  </td>
  <td>&nbsp;</td>
  <td class="nowrap" align="right">
    <span id='account_links'>
{foreach name=loop item=item from=$account_links->get_items()}
  {if $smarty.foreach.loop.index > 0}&nbsp;|&nbsp;{/if}
  {if $item->is_link()}
    {$item->get_url_html()}
  {else}
    {$item->get_text()|escape|replace:" ":"&nbsp;"}
  {/if}
{/foreach}
    </span>
    <br />
{if $n_online}
    <span id='status'>{lang text="forum_n_online" users=$n_online}</span>
{/if}
  </td>
  <td>&nbsp;</td>
 </tr>
</table>
<!-- end header -->
