<?xml version="1.0"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN""http://www.w3.org/TR/html4/loose.dtd">
<!-- header -->
<head>
  <meta http-equiv=Content-Type content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="{$__theme_dir}/style.css">
  <title>{$title|escape}</title>
</head>
<body bgcolor="#FFFFFF"
      text="#000000"
      link="#003399"
      vlink="#666666"
      alink="#3366cc">
<table id='header' width='100%' cellpadding='2' cellspacing='0'>
 <tr>
  <td>&nbsp;</td>
  <td>
    <a href='.'><img src='{$__theme_dir}/img/logo.png'
                     alt=''
                     border=0
                     width=38
                     height=40 /></a>
  </td>
  <td>&nbsp;</td>
  <td width='100%' align='left' valign='middle'>
    <a href='.'><span id='title'>{$site_title|escape}</span></a>
  </td>
  <td>&nbsp;</td>
  <td nowrap="nowrap" align="right">
    <span id='account_links'>
{foreach name=loop item=item from=$account_links->get_items()} 
  {if $smarty.foreach.loop.index > 0}&nbsp;|&nbsp;{/if}
  {if $item->is_link()}
    <a href='{$item->get_url_string()|escape}'>{$item->get_text()|escape|replace:" ":"&nbsp;"}</a>
  {else}
    {$item->get_text()|escape|replace:" ":"&nbsp;"}
  {/if}
{/foreach}
    </span>
    <br/>
{if $n_online}
    <span id='status'>{lang text="forum_n_online" users=$n_online}</span>
{/if}
  </td>
  <td>&nbsp;</td>
 </tr>
</table>
<!-- end header -->
