<!-- indexbar -->
<table class='index'
       width='100%'
       cellspacing='0'
       cellpadding='5'
       border='0'
       bgcolor='#2b43ca'
       summary=''>
 <tr>
  <td align='center'>
  <span>
  {strip}
{foreach item=item from=$indexbar->get_items()}
  {if $item->is_separator()}
    &nbsp;&nbsp;
  {elseif !$item->is_link()}
    &nbsp;{$item->get_text()|escape|replace:" ":"&nbsp;"}
  {else}
    &nbsp;<a href='{$item->get_url_string()|escape}'>{$item->get_text()|escape|replace:" ":"&nbsp;"}</a>
  {/if}
{/foreach}
{/strip}
  </span>
  </td>
 </tr>
</table>
<!-- end indexbar -->

