<!-- indexbar -->
<table class='index' width='100%' cellspacing='0' cellpadding='3' border='0' bgcolor='#003399'>
 <tr>
  <td align='left'>
  <font color='white' size='-1'>
  {strip}
{foreach item=item from=$indexbar->get_items()}
  {if !$item->get_text()}
    &nbsp;&nbsp;
  {elseif !$item->get_url_string()}
    &nbsp;{$item->get_text()|escape|replace:" ":"&nbsp;"}
  {else}
    &nbsp;<a href='{$item->get_url_string()|escape}'>{$item->get_text()|escape|replace:" ":"&nbsp;"}</a>
  {/if}
{/foreach}
{/strip}
  </font>
  </td>
 </tr>
</table>
<!-- end indexbar -->
