<table border='0' cellpadding='0' cellspacing='0' width='100%'>
{if $n_rows > 0}
{foreach item=posting from=$postings}
<!-- latest_row -->
<tr class='posting' valign='middle' bgcolor='#ffffff'>
  <td align='center' width=8><img src='{$__theme_dir}/img/null.png' width=8 height=23 alt='' /></td>
{if $__group->may('moderate')}
  <td width='1' align='left'>{include file="moderator_buttons.inc.tmpl"}</td>
  <td align='center' width=4><img src='{$__theme_dir}/img/null.png' width=4 height=23 alt='' /></td>
{/if}
  <td align='left'>{strip}
{if $posting->get_priority() > 0}
  &nbsp;<img src='{$__theme_dir}/img/sticky.png' width="16" height="16" alt='!' />
{/if}
{if $posting->is_selected()}
  <font color='green'>&nbsp;{$posting->get_subject()|escape}</font>
{elseif $posting->is_active()}
  &nbsp;<a href='{$posting->get_url_string()|escape}'>{$posting->get_subject()|escape}</a>
{else}
  &nbsp;{$posting->get_subject()|escape}
{/if}
  </td>
{/strip}
  <td><img src='{$__theme_dir}/img/null.png' width=8 height=23 alt='' /></td>
{if $posting->is_selected()}
  {assign var="attr" value=" color='green'"}
{else}
  {assign var="attr" value=""}
{/if}
  <td align='left'>
    &nbsp;<font{$attr}>{$posting->get_username()|escape}</font>
{if $posting->get_user_is_special()}
    <img src="{$posting->get_user_icon()|escape}"
         title="{lang text=$posting->get_user_icon_name()}" />
{/if}
  </td>
{if $posting->is_selected()}
  <td align='right' nowrap><font color='green'>{$posting->get_created_time()}</font></td>
{elseif $posting->is_new()}
  <td align='right' nowrap><font color='red'>{$posting->get_created_time()}</font></td>
{else}
  <td align='right' nowrap>{$posting->get_created_time()}</td>
{/if}
  <td align='center' width=8><img src='{$__theme_dir}/img/null.png' width=8 height=23 alt='' /></td>
 </tr>
<!-- end latest_row -->
{/foreach}
{else}
<tr><td height='4'></td></tr>
<tr><td align='center'><i>{lang text="search_no_posting"}</i></td></tr>
<tr><td height='4'></td></tr>
{/if}
</table>
