<p>
  <h2>{lang text="login_welcome"|escape}</h2>
</p>
<p>{lang text="settings_activated"|escape}</p>

<!-- <p><a href="{$last_viewed|escape}">Zur&uuml;ck zur zuletzt angezeigten Seite</a></p> -->
<p><a href="{$edit_account_url|escape}">{lang text="login_editaccount"|escape}</a></p>
<p><a href="{$start_url|escape}">{lang text="login_startpage"|escape}</a></p>

