<!-- login -->
<h2>{lang text="login"}</h2>
<span class="intro">{lang text="login_text"}</span>
{include file="error.inc.tmpl"}

<form action='{$action|escape}' method='post' accept-charset='utf-8'>
<input type='hidden' name='action'   value='login' />
<input type='hidden' name='refer_to' value='{$refer_to|escape}' />

<p>
  <span class="label">{lang text="username"}</span><br/>
  <input type="text"
         name="username"
         size="20"
         value="{$user->get_name()|escape}" />
</p>

<p>
  <span class="label">{lang text="passwd"}</span><br/>
  <input type="password" name="password" size="20" /><br/>
  <input type="checkbox" name="permanent" value="ON" />
  {lang text="rememberpasswd"}
</p>

<p>
  <input type="submit" value='{lang text="login"}'>
</p>
</form>

<p>
  <a href="{$forgot_url|escape}">{lang text="passwdforgotten"}</a>
{if !$user->is_confirmed()}
  <br/>
  <a href="{$resend_url|escape}">{lang text="resendconfirm"}</a>
{/if}
</p>
<!-- end login -->
