<p>
{lang text="login_text"|escape}

{if $hint}
<p>
<font color='red' size='+1'>{$hint|escape}</font>
{/if}
<form action='{$action|escape}' method='post' accept-charset='utf-8'>
  <input type='hidden' name='action'   value='login'>
  <input type='hidden' name='refer_to' value='{$refer_to|escape}'>
  <div align="left">
    <table border="0" cellpadding="2">
      <tr>
        <td bgcolor="#CCCCCC">&nbsp;</td>
        <td bgcolor="#CCCCCC"><b>{lang text="enteruserdata"|escape}</b></td>
      </tr>
      <tr>
        <td align="right" valign="middle" bgcolor="#CCCCCC">{lang text="username"|escape}</td>
        <td bgcolor="#CCCCCC">
          <input type="text" name="username" size="20" value="{$user->get_name()}">
        </td>
      </tr>
      <tr>
        <td align="right" valign="middle" bgcolor="#CCCCCC">{lang text="passwd"|escape}</td>
        <td bgcolor="#CCCCCC">
          <input type="password" name="password" size="20">
        </td>
      </tr>
      <tr>
        <td align="right" valign="middle" bgcolor="#CCCCCC">{lang text="rememberpasswd"|escape}</td>
        <td bgcolor="#CCCCCC">
          <font size="2">{lang text="remembpasswdlong"|escape}<br /></font>
          <input type="checkbox" name="permanent" value="ON"><br>
        </td>
      </tr>
      <tr>
        <td align="right" valign="top" bgcolor="#CCCCCC">&nbsp;</td>
        <td bgcolor="#CCCCCC"><input type="submit" value='{lang text="login"|escape}'></td>
      </tr>
      <tr>
        <td align="right" valign="top" bgcolor="#CCCCCC">&nbsp;</td>
        <td bgcolor="#CCCCCC">
          <a href="{$forgot_url|escape}">{lang text="passwdforgotten"|escape}</a>
        </td>
      </tr>
{if !$user->is_confirmed()}
      <tr>
        <td align="right" valign="top" bgcolor="#CCCCCC">&nbsp;</td>
        <td bgcolor="#CCCCCC">
          <a href="{$resend_url|escape}">{lang text="resendconfirm"|escape}</a>
        </td>
      </tr>
{/if}
    </table>
  </div>
</form>
