<p>
<font color='red' size='+1'>{$pagetitle}</font>
{include file="message.tmpl"}
<p>
<form action='{$action|escape}' id='commentform' method='POST' accept-charset='utf-8'>
<input type='hidden' name='action'    value='message_submit'>
<input type='hidden' name='parent_id' value='{$parent_id}'>
<input type='hidden' name='msg_id'    value='{$message->get_id()}'>
<input type='hidden' name='may_quote' value='{$may_quote|escape}'>
<input type='hidden' name='username'  value='{$message->get_username()|escape}'>
<input type='hidden' name='subject'   value='{$message->get_subject()|escape}'>
<input type='hidden' name='body'      value='{$message->get_body()|escape}'>
<input type='submit' name='edit'      value='{lang text="change"|escape}'>
<input type='submit' name='send'      value='{lang text="send"|escape}'>
</form>
