<!-- message_created -->
{if $hint}
<p>
<font color='red' size='+1'>{$hint|escape}</font>
{/if}
<p>
<h2>{lang text="entrysuccess"|escape}</h2><br />
<a href='{$messageurl}'>{lang text="backtoentry"|escape}</a><br />
{if $parenturl != ""}<a href='{$parenturl}'>{lang text="backtoparent"|escape}</a><br />{/if}
<a href='{$forumurl}'>{lang text="backtoindex"|escape}</a>
<!-- end message_created -->
