<!-- message_compose -->
<p>
<form action='{$action|escape}' id='commentform' method='POST' accept-charset='utf-8'>
<font size='+1' color='red'>{lang text="writeamessage"|escape}</font>
{if $hint != ""}<br /><font size='+1' color='red'>{$hint}</font>{/if}
<p>
{if $user}
<input type='hidden' name='action' value='message_submit'>
<input type='hidden' name='name'   value='{$user->get_login()|escape}'>
{else}
<b>{lang text="name"|escape}</b>&nbsp;<i>{lang text="required"|escape}</i><br />
<input type='text' size='80' name='name' id='name' value='{$message->get_username()|escape}' maxlength='{$max_namelength}'>
{/if}
<p>
<b>{lang text="msgtitle"|escape}</b>&nbsp;<i>{lang text="required"|escape}</i><br />
<input type='text' size='80' name='subject' id='subject' value='{$message->get_subject()|escape}' maxlength='{$max_titlelength}'>
<p>
<b>{lang text="msgbody"|escape}</b>&nbsp;<i>{lang text="required"|escape}</i><br />
{strip}
<textarea name='message' id='message' cols='80' rows='20' wrap='virtual'>
{$message->get_body()|escape}
</textarea>
{/strip}
<p>
{if $msg_id != ""}
<input type='hidden' name='msg_id' value='{$msg_id}'>
<input type='submit' name='quote' id='quote' value='{lang text="quote"|escape}'>&nbsp;
{/if}
<input type='submit' name='preview' id='preview' value='{lang text="preview"|escape}'>&nbsp;
<input type='submit' name='send' id='send' value='{lang text="send"|escape}'>
</form>
<!-- end message_compose -->
