<!-- message -->
<p>
<table border='0' cellpadding='0' cellspacing='0' width='100%'>
 <tr valign='middle'>
  <td>
{if $__group->may('moderate')}
{if $message->is_active()}
 <a href="{$message->get_lock_url()|escape}">
   <img border='0' src='themes/heise/img/unlock.png' title='{lang text="message_lock"|escape}'>
 </a>
{else}
 <a href="{$message->get_unlock_url()|escape}">
   <img border='0' src='themes/heise/img/lock.png' title='{lang text="message_unlock"|escape}'>
 </a>
{/if}
{if $message->get_priority() == 0}
 <a href="{$message->get_prioritize_url(1)|escape}">
   <img border='0' src='themes/heise/img/sticky.png' title='{lang text="message_prioritize"|escape}'>
 </a>
{else}
 <a href="{$message->get_prioritize_url(0)|escape}">
   <img border='0' src='themes/heise/img/sticky_red.png' title='{lang text="message_prioritize"|escape}'>
 </a>
{/if}
  <br />
{/if}
  <font color='#555555' size='-1'>{$message->get_created_time()}</font>
{if $message->is_updated()}
  <font color='red' size='-1'>{lang text="lastupdated" time=$message->get_updated_time()}</font>
{/if}
  <br />
  <b>{$message->get_subject()|escape}</b><br />
{if $message->get_user_is_anonymous()}
  <i>{$message->get_username()|escape}</i>
{else}
  <a href="{$message->get_user_profile_url()|escape}">{$message->get_username()|escape}</a>
{/if}
  <img src="{$message->get_user_icon()|escape}"
       title="{lang text=$message->get_user_icon_name()|escape}" />
{if $message->get_user_is_anonymous()}
  (Salziger IP-Hash: {$message->get_ip_address_hash()|truncate:10:''|escape})
{/if}
  </td>
 </tr>
 <tr>
  <td><br />
<!-- message body -->
{$message->get_body_html()}
<!-- end message body -->
  <br />
  <br />
  </td>
 </tr>
</table>
<!-- end message -->
