<!-- message -->
<p>
<table border='0' cellpadding='0' cellspacing='0' width='100%'>
 <tr valign='middle'>
  <td>
  <font color='#555555' size='-1'>{$message->get_created_time()}</font>
{if $message->is_updated()}
  <font color='red' size='-1'>{lang text="lastupdated" time=$message->get_updated_time()}</font>
{/if}
  <br />
  <b>{$message->get_subject()|escape}</b><br />
{if $message->get_user_type() == "anonymous"}
  <i>{$message->get_username()|escape}</i>
{else}
  <a href="{$message->get_user_profile_url()|escape}">{$message->get_username()|escape}</a>
{/if}
  <img src="themes/heise/img/{$message->get_user_type()|escape}_user.png"
       title="{lang text=$message->get_user_type()|escape}" />
{if $message->get_user_type() == "anonymous"}
  (Salziger IP-Hash: {$message->get_ip_address_hash()|truncate:10:''|escape})
{/if}
  </td>
 </tr>
 <tr>
  <td><br />
<!-- message body -->
{$message->get_body_html()}
<!-- end message body -->
  <br />
  <br />
  </td>
 </tr>
</table>
<!-- end message -->
