{strip}
<!-- moderator_buttons -->
<table border='0' cellpadding='0' cellspacing='0' summary=''>
<tr>
<td>
{if $posting->is_active()}
<a href="{$posting->get_lock_url_string()|escape}">
<img border='0' src='{$__theme_dir}/img/unlock.png' title='{lang text="posting_lock"}' />
</a>
{else}
<a href="{$posting->get_unlock_url_string()|escape}">
<img border='0' src='{$__theme_dir}/img/lock.png' title='{lang text="posting_unlock"}' />
</a>
{/if}
</td>
<td>
{if $posting->is_parent()}
  {if $posting->get_priority() == 0}
  <a href="{$posting->get_prioritize_url_string(1)|escape}">
  <img border='0' src='{$__theme_dir}/img/sticky.png' title='{lang text="posting_stick"}' />
  </a>
  {else}
  <a href="{$posting->get_prioritize_url_string(0)|escape}">
  <img border='0' src='{$__theme_dir}/img/sticky_red.png' title='{lang text="posting_unstick"}' />
  </a>
  {/if}
{/if}
</td>
</tr>
</table>
<!-- moderator_buttons end -->
{/strip}
