{strip}
<!-- moderator_buttons -->
{if $message->is_active()}
<a href="{$message->get_lock_url()|escape}">
<img border='0' src='themes/heise/img/unlock.png' title='{lang text="message_lock"|escape}'>
</a>
{else}
<a href="{$message->get_unlock_url()|escape}">
<img border='0' src='themes/heise/img/lock.png' title='{lang text="message_unlock"|escape}'>
</a>
{/if}
{if $message->is_parent()}
  {if $message->get_priority() == 0}
  <a href="{$message->get_prioritize_url(1)|escape}">
  <img border='0' src='themes/heise/img/sticky.png' title='{lang text="message_stick"|escape}'>
  </a>
  {else}
  <a href="{$message->get_prioritize_url(0)|escape}">
  <img border='0' src='themes/heise/img/sticky_red.png' title='{lang text="message_unstick"|escape}'>
  </a>
  {/if}
{/if}
<!-- moderator_buttons end -->
{/strip}
