<!-- password forgotten -->
<br />
<h2>{lang text="resetpasswd_title"}</h2>

{if $hint}
<br />
<span class='hint'>{$hint|escape}</span>
{/if}

<br />
<form action='{$action|escape}' method='post' accept-charset='utf-8'>
<input type='hidden' name='action' value='password_mail_submit' />
<b>{lang text="register_mail"}</b><br />
<input type="text" name="mail" size="42" value="{$user->get_mail()|escape}" /><br />

<br />
<input type="submit" name="create" value="{lang text="resetpasswd"}" />
</form>
<!-- end password forgotten -->
