<!-- password forgotten -->
<h2>{lang text="resetpasswd_title"}</h2>
{include file="error.inc.tmpl"}

<form action='{$action|escape}' method='post' accept-charset='utf-8'>
<div>
<input type='hidden' name='action' value='password_mail_submit' />
<label>{lang text="register_mail"}</label><br />
<input type="text" name="mail" size="42" value="{$user->get_mail()|escape}" /><br />

<br />
<input type="submit" name="create" value="{lang text="resetpasswd"}" />
</div>
</form>
<!-- end password forgotten -->
