<!-- password change -->
<h2>{lang text="change_password_title"}</h2>
<span class="intro">{lang text="change_password_text"}</span>
{include file="error.inc.tmpl"}

<form action='{$action|escape}' method='post' accept-charset='utf-8'>
<p>
  <b>{lang text="change_password"}</b><br />
  <input type="password" name="password" size="20" value="{$password|escape}" /><br />
</p>

<p>
  <b>{lang text="change_password2"}</b><br />
  <input type="password" name="password2" size="20" value="{$password2|escape}" /><br />
</p>

<p>
  <input type="hidden" name="action"   value="password_submit" />
  <input type="hidden" name="hash"     value="{$user->get_confirmation_hash()|escape}" />
  <input type="hidden" name="username" value="{$user->get_name()|escape}" /><br />
  <input type="submit" value="{lang text="change_password_btn"}" />
</p>
</form>
<!-- end password change -->
