<!-- posting -->
<p>&nbsp;</p>
<table border='0' cellpadding='0' cellspacing='0' width='100%' summary=''>
 <tr valign='middle'>
  <td>
  <font color='#555555'>{$posting->get_created_time()}</font>
{if $posting->is_updated()}
  <font color='red'>{lang text="lastupdated" time=$posting->get_updated_time()}</font>
{/if}
  <br />
  <b>{$posting->get_subject()|escape}</b>
<table summary=''>
  <tr>
    <td>
{if $posting->get_user_is_anonymous()}
      <i>{$posting->get_username()|escape}</i>
{else}
      <a href="{$posting->get_user_profile_url_string()|escape}">{$posting->get_username()|escape}</a>
{/if}
    </td>
    <td>
    <img border="0"
         src="{$posting->get_user_icon()|escape}"
         alt=""
         title="{lang text=$posting->get_user_icon_name()}" />
    </td>
    <td>
{if $__group->may('moderate')}
    {include file="moderator_buttons.inc.tmpl" posting=$posting}
{/if}
    </td>
{if $posting->get_user_is_anonymous()}
    <td>
      {lang text="ip_hash" hash=$posting->get_ip_address_hash(10)}
    </td>
{/if}
  </tr>
</table>
  </td>
 </tr>
 <tr>
  <td><br />
<!-- posting body -->
{$posting->get_body_html()}
<!-- end posting body -->
  <br />
  <br />
  </td>
 </tr>
</table>
<!-- end posting -->
