<h2>{lang text="register_title"|escape}</h2>

<p>{lang text="register_thanks"|escape} {$firstname|escape} {$lastname|escape}.</p>

<p>{lang text="register_keepsecret"|escape}</p>

<p>{$sendtomail}</p>

<p><a href="{$backlink}">{lang text="login_startpage"}</a></p>