<p>
<h2>{lang text="search_title"|escape}</h2>

{if $error}
<p>
<font color='red' size='+1'>{$error|escape}</font>
{/if}

<p>
<form method='get' accept-charset='utf-8'>
<input type="hidden" name="search" value="1">
<input type="text" name="q" size="50" value="{$query|escape}">
<input type="submit" value="{lang text="search_start"|escape}"> 
</form>

{if $messages}
<p>
{lang text="search_results" results=$n_results}<br/>
{include file="indexbar.tmpl"}
{include file="latest.tmpl"}
{include file="indexbar.tmpl"}
{/if}
