<p>
<h2>{lang text="search_title"}</h2>

{if $error}
<p>
<font color='red' size='+1'>{$error|escape}</font>
{/if}

<p>
<form method='get' accept-charset='utf-8'>
<input type="hidden" name="action"   value="search">
{if $forum_id}
<input type="hidden" name="forum_id" value="{$forum_id}">
{/if}
<input type="text"   name="q" size="50" value="{$query|escape}">
<input type="submit" value="{lang text="msg_search_start"}"> 
<input type="submit" name="user_search" value="{lang text="user_search_start"}"> 
</form>

{if $message_search}
<p>
{lang text="search_results" results=$n_results}<br/>
{include file="indexbar.tmpl"}
{include file="latest.tmpl"}
{include file="indexbar.tmpl"}
{elseif $user_search}
<p>
{lang text="search_results" results=$n_results}<br/>
{include file="indexbar.tmpl"}
{include file="user_list.tmpl"}
{include file="indexbar.tmpl"}
{else}
<table>
  <tr>
    <td valign='top'>
      <font size="-1"><b>{lang text="search_examples"}</b></font>
    </td>
    <td><font size="-1"><i>{lang text="search_hint"}</i></font></td>
  </tr>
</table>
{/if}
