a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.index {
  background-color: #003399;
  color: #FFFFFF;
  font-weight: bold;
}

.index a {
  color: #ffffff;
  text-decoration: underline;
}

.index a:visited {
  color: #CCCCCC;
}

tr.posting:hover
{
  background-color: #EEEEEE;
}

tr.posting:hover a
{
  text-decoration: underline;
}
