a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.index {
  background-color: #003399;
  color: #FFFFFF;
  font-weight: bold;
}

.index a {
  color: #ffffff;
  text-decoration: underline;
}

.index a:visited {
  color: #CCCCCC;
}

tr.posting:hover
{
  background-color: #D4D0C8;
}

tr.posting:hover a
{
  color: #000000;
}
