/**
 * General styles.
 **/
body {
  margin: 0em;
  font: .95em Arial, Tahoma, Verdana, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #000000;
}

table {
  /* Force IE to inherit the font size in tables. */
  font-size: 1em;
}

label {
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:link {
  color:#003399;
}

a:visited {
  color:#666666;
}

a:active {
  color:#3366cc;
}

input {
}

.icon {
  border: none;
}

.nowrap {
  white-space: nowrap;
}

#content {
  margin-left: 10px;
  margin-right: 10px;
}


/* Information boxes. */
.error, .hint, .ack {
  padding: 5px;
  margin: 5px;
  font-size: 1.3em;
}

.error {
  background: #ff8484;
  border: 1px solid #ff4848;
}

.hint {
  background: #feec57;
  border: 1px solid #ffd605;
}

.normal {
  font-weight: normal;
}

.ack {
  background: #84ff86;
  border: 1px solid #4eee00;
}

.read_only {
  border-bottom: 1px dashed #f60;
}

/**
 * Series of links provided by the forum.
 **/
.index {
  background-color: #353fa8;
  color: #ffffff;
  font-weight: bold;
}

.index a {
  color: #ffffff;
  text-decoration: underline;
}

.index a:visited {
  color: #cccccc;
}

#account_links {
  display: inline;
  list-style: none;
  vertical-align: top;
  color: #ffffff;
  background-color: #353fa8;
  white-space: nowrap;
  padding-bottom: 2em;
}

#account_links li {
  font-size: .9em;
  margin: 0 0px 0px 5px;
  display: inline;
}

#account_links a {
  color: #ffffff;
}

#breadcrumbs {
  height: 20px;
  color: black;
  background-color: #f4f4f4;
}

#breadcrumb_links {
  display: inline;
  list-style: none;
  margin: 0px;
  padding: 0;
}

#breadcrumb_links li {
  display: inline;
  margin: 2px;
}

#breadcrumb_links a {
  color: #353fa8;
}

.page_links,
#page_links {
  display: inline;
  list-style: none;
  margin: 0px;
  padding: 0;
  color: #bbb;
}

.page_links li,
#page_links li {
  display: inline;
  margin: 0 5px;
}

.page_links .separator,
#page_links .separator {
  color: #353fa8;
}

.page_links a,
#page_links a {
  color: #353fa8;
}


/**
 * Header related styles.
 **/
#header {
  height: 50px;
  background-color: #353fa8;
}

#header1 {
  float: left;
  width: 38px;
  height: 40px;
  margin: .3em;
}

#logo {
  border: none;
}

#header2 {
  float: left;
  margin: .5em;
}

#header3 {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: .3em;
  width: auto;
  text-align: right;
  vertical-align: bottom;
  height: 50px;
}

#title {
  color: #ffffff;
  font-size: 1.9em;
}

#status {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: .9em;
  color: #ffffff;
  margin-bottom: 3px;
}


/**
 * Footer.
 **/
#views {
  list-style: none;
  text-align: center;
  margin: 5px auto;
  padding: 0;
}

#views li {
  display: inline;
  margin: 5px;
  padding: 0;
}

#footer {
  clear: both;
  margin: 0px auto;
  padding: 5px;
}

#footer_links {
  list-style: none;
  text-align: center;
  margin: 5px auto;
  padding: 0;
  font-size: .9em;
}

#footer_links li {
  display: inline;
  margin: 1px;
  padding: 0;
}

#footer li.separator {
  padding-left: .25em;
  padding-right: .25em;
}

#goto_top,
#goto_top:link,
#goto_top:visited,
#goto_top:active {
  color:#039;
}

#rss img {
  border: 0;
}

#rendered {
  text-align: center;
}


/**
 * Homepage specific styles.
 **/
.forum_link a {
  font-size: 1.3em;
  color: #353fa8;
}

.forum_link_inactive a {
  text-decoration: line-through;
  font-size: 1.3em;
  color: #353fa8;
}

.forum_status {
  font-style: italic;
  color: gray;
}

.forum_description {
}

.section {
  margin: 0;
  padding: 0;
  width: 33.33%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

.section h3 {
  text-align: center;
  padding: 5px;
  margin: 0px;
  font-size: 1.1em;
  background: #353fa8;
  border: 1px solid black;
  color: white;
  font-weight: normal;
}

.section ul {
  list-style-type: none;
  margin: 0;
  margin-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

#forum_home {
  margin-left: 15px;
}

#home_activity {
  float: left;
}

#home_activity h3 {
  margin-right: 5px;
}

#home_activity ul {
  list-style-position: inside;
  list-style-image: url("img/pen.png");
}

#home_forum_links {
  float: left;
}

#home_forum_links h3 {
  margin-left: 5px;
  margin-right: 5px;
}

#home_new_users {
  float: right;
}

#home_new_users h3 {
  margin-left: 5px;
}

#home_new_users ul {
  list-style-position: inside;
  list-style-image: url("img/person.png");
}

/* alternative 50:25:25 */

#home_new_users ul {
	list-style-position: outside;
	direction: rtl;
	text-align: right;
}

#home_new_users li {
	margin-right: 1.5em;
}

#home_activity {
	width: 50%
}

#home_new_users,
#home_forum_links {
	width: 25%
}

/**
 * Search related styles.
 **/
#quicksearch {
  padding: 0px;
  margin: 0px;
}

#quicksearch input {
  width: 10em;
  border: 1px solid #aaa;
}

#quicksearch input:focus,
#quicksearch input:hover {
  border: 1px solid #777;
}

#search_links {
  display: inline;
  list-style: none;
  margin: 0px;
  padding: 0;
}

#search_links li {
  display: inline;
}


/**
 * Posting moderation.
 **/
#spam {
  font-weight: normal;
}

#spam input {
  margin: 0px;
  padding: 0px;
}


/**
 * Polls.
 **/
#poll label {
  font-weight: normal;
}

#poll_desc {
  border-left: 1px solid #ccc;
  padding-left: .5em;
}

#poll fieldset {
  border: 0;
}

/**
 * The moderation log.
 **/
.modlog_entry {
  width: 100%;
}

.modlog_reason {
  font-style: italic;
}

#empty_modlog_message {
  font-size: 1.1em;
  font-style: italic;
}


/**
 * User lists.
 **/
.user_list {
  width: 100%;
}

#empty_user_list_message {
  margin: 5px;
  font-style: italic;
}

/**
 * Plugin rating
 **/

.rating_bar {
    margin-top: 30px;
/*   border-top: 1px black solid; */
}

.negative_rating {
    display: block;
    width: 20px;
    height: 15px;
    border: 1px #cc0000 solid;
    margin: 2px;
    float: right;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.positive_rating {
    display: block;
    width: 20px;
    height: 15px;
    border: 1px #009900 solid;
    margin: 2px;
    background-color: #009900;
    text-align: center;
    font-weight: bold;
}

a.negative_rating {
    background-color: transparent;
    color: #cc0000;
    text-decoration: none;
    float: right;
}

a.negative_rating:hover {
    background-color: #cc0000;
    color: black;
    text-decoration: none;
    float: right;
}

a.positive_rating {
    background-color: transparent;
    color: #009900;
    text-decoration: none;
    float: right;
}

a.positive_rating:hover {
    background-color: #009900;
    color: black;
    text-decoration: none;
    float: right;
}

span.negative_rating {
    background-color: red;
    color: black;
    text-decoration: none;
    float: right;
}

span.positive_rating {
    background-color: #009900;
    color: black;
    text-decoration: none;
    float: right;
}
