/**
 * Threadview and Listview
 **/
table#list_view,
table#thread_view {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
}

table#list_view td,
table#thread_view td {
  margin: 0;
  padding:0;
  white-space: nowrap;
  line-height: 23px;
}

table#thread_view img.thread_img {
  height: 23px;
  width: 20px;
}

table#thread_view td * {
  vertical-align: top;
}

table#list_view img,
table#thread_view img {
  border: none;
}

table#thread_view td.thread_tree img {
  vertical-align: bottom;
}

table#list_view td.thread_user,
table#thread_view td.thread_user {
  padding: 0 .25em;
}

table#list_view td.thread_tree,
table#thread_view td.thread_tree {
  padding-left: .5em;
}

table#list_view td.thread_date,
table#thread_view td.thread_date {
  padding-right: .5em;
}

b.indent {
  width: 0;
  margin: 0 0 0 10px; /* -10px */
  padding: 0;
}

b.spacer {
  width: 0;
  margin: 0 0 0 20px;
  padding: 0;
}

.thread_user {
  width: 20%;
}

.thread_date {
  text-align: right;
  width: 10%;
}

table#list_view td.thread_tree img.icon,
table#list_view td.thread_user img.group_icon,
table#thread_view td.thread_tree img.icon,
table#thread_view td.thread_user img.group_icon {
  vertical-align: middle;
}

span span.edit_marker {
  color: #f00;
  font-weight: bolder;
}

table#list_view tr:hover,
table#thread_view tr:hover {
  background-color: #eee;
}

table#list_view tr:hover a,
table#thread_view tr:hover a {
  text-decoration: underline;
}

/**
 * Plugin rating :: rating results in threadview
 **/

.rating_box {
  width: 31px;
  height: 14px;
  border: 0;
  float: right;
  background: #f8f8f8 url("img/rating.png") no-repeat center;
  padding: 0;
  margin: 0 .25em;
}


.rating_box .rating_0,
.rating_box .rating_10,
.rating_box .rating_20,
.rating_box .rating_30,
.rating_box .rating_40 {
  height: 14px;
  background-color: #c00;
}

.rating_box .rating_0 {
  margin-left: 0;
  width: 15px;
}

.rating_box .rating_10 {
  margin-left: 3px;
  width: 12px;
}

.rating_box .rating_20 {
  margin-left: 6px;
  width: 9px;
}

.rating_box .rating_30 {
  margin-left: 9px;
  width: 6px;
}

.rating_box .rating_40 {
  margin-left: 12px;
  width: 3px;
}

.rating_box .rating_50 {
  /*height: 14px;*/
  background-color: transparent;
}

.rating_box .rating_60,
.rating_box .rating_70,
.rating_box .rating_80,
.rating_box .rating_90,
.rating_box .rating_100{
  height: 14px;
  background-color: #090;
  margin-left: 16px;
}

.rating_box .rating_60 {
  width: 3px;
}

.rating_box .rating_70 {
  width: 6px;
}

.rating_box .rating_80 {
  width: 9px;
}

.rating_box .rating_90 {
  width: 12px;
}

.rating_box .rating_100 {
  width: 15px;
}

.selected {
  color: #008000;
}

#empty_forum_message {
  margin: 5px;
  font-style: italic;
  text-align: center;
}


/**
 * Formatting of postings.
 **/
.intro {
  padding-bottom: 15px;
}

.quote {
  color: #900;
}

/* The date field in a posting. */
.date {
  color: #555;
}

/* The "last edit" field in a posting. */
.edited {
  color: #f00;
}

#posting {
  margin-left: 10px;
  width: 80%;
}

.moderator_buttons {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.moderator_buttons li {
  display: inline;
  padding: 0;
  margin: 0;
}

.moderator_button_text {
  display: none;
}
