#thread_view, #posting_list {
  width: 99%;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.posting {
  table-layout: fixed;
}

.posting td {
  padding-top: 0;
  padding-bottom: 0;
  white-space: nowrap;
}

.posting td.thread_name {
  padding: 0 .5em;
}

td.thread_date {
  text-align: right;
}

.posting img {
  vertical-align: bottom;
  border: none;
}

.posting .thread_name img {
  vertical-align: top;
  padding-left: .5em;
}

.icon {
  vertical-align: top;
}

b.indent {
  padding: 0;
  width: 23px;
  margin: 0 0 0 -29px; /* ie does not display negative margins. */
  display: inline-block;
}

b.spacer {
  padding: 0;
  margin: 0;
  width: 22px;
  display: inline-block;
}
