<table border='0' cellpadding='0' cellspacing='0' width='100%'>
{if $n_rows > 0}
{foreach item=posting from=$postings}
<!-- thread_row -->
<tr class='posting' valign='middle' bgcolor='#ffffff'>
  <td align='center' width=8><img src='{$__theme_dir}/img/null.png' width=8 height=23 alt='' /></td>
{if $__group->may('moderate')}
  <td width='1' align='left'>{include file="moderator_buttons.inc.tmpl"}</td>
  <td align='center' width=4><img src='{$__theme_dir}/img/null.png' width=4 height=23 alt='' /></td>
{/if}
  <td align='left'>{strip}
  <table border=0 cellspacing=0 cellpadding=0>
    <tr>
     <td align='left'>
{*
  $indent:
  1: INDENT_DRAW_DASH
  2: INDENT_DRAW_SPACE
*}
{foreach item=indent from=$posting->get_indent()}
  {if $indent == 1}
     <img src='{$__theme_dir}/img/l.png' width=20 height=23 alt='|' />
  {else}
     <img src='{$__theme_dir}/img/null.png' width=20 height=23 alt='&nbsp;' />
  {/if}
{/foreach}
{*
  $posting->get_relation():
  1: PARENT_WITHOUT_CHILDREN
  2: PARENT_WITH_CHILDREN_UNFOLDED
  3: PARENT_WITH_CHILDREN_FOLDED
  4: BRANCHBOTTOM_CHILD_WITHOUT_CHILDREN
  5: BRANCHBOTTOM_CHILD_WITH_CHILDREN
  6: CHILD_WITHOUT_CHILDREN
  7: CHILD_WITH_CHILDREN
*}
{if $posting->get_relation() == 1}
     <img src='{$__theme_dir}/img/o.png' width=9 height=21 alt='' />
{elseif $posting->get_relation() == 2}
     <a href='{$posting->get_fold_url_string()|escape}'><img src='{$__theme_dir}/img/m.png' border=0 width=9 height=21 alt='0' /></a>
{elseif $posting->get_relation() == 3}
     <a href='{$posting->get_fold_url_string()|escape}'><img src='{$__theme_dir}/img/p.png' border=0 width=9 height=21 alt='0' /></a>
{elseif $posting->get_relation() == 4 || $posting->get_relation() == 5}
     <img src='{$__theme_dir}/img/e.png' width=20 height=23 alt='`-' />
{elseif $posting->get_relation() == 6 || $posting->get_relation() == 7}
     <img src='{$__theme_dir}/img/x.png' width=20 height=23 alt='|-' />
{/if}
     </td>
     <td align='left'>
{if $posting->get_priority() > 0}
     &nbsp;<img src='{$__theme_dir}/img/sticky.png' width="16" height="16" alt='!' />
{/if}
{if $posting->is_selected()}
     &nbsp;<font color='green'>{$posting->get_subject()|escape}</font>
{elseif !$posting->is_active()}
     &nbsp;{$posting->get_subject()|escape}
{else}
     &nbsp;<a href='{$posting->get_url_string()|escape}'>{$posting->get_subject()|truncate:$max_subjectlength|escape}</a>
{/if}
{if $posting->get_relation() == 3}&nbsp;({$posting->get_n_children()}){/if}
     </td>
    </tr>
   </table>
  </td>
{/strip}
  <td><img src='{$__theme_dir}/img/null.png' width=8 height=23 alt='' /></td>
{if $posting->is_selected()}
  {assign var="attr" value=" color='green'"}
{else}
  {assign var="attr" value=""}
{/if}
  <td align='left'>
    &nbsp;<font{$attr}>{$posting->get_username()|escape}</font>
{if $posting->get_user_is_special()}
    <img src="{$posting->get_user_icon()|escape}"
         alt=""
         title="{lang text=$posting->get_user_icon_name()}" />
{/if}
  </td>
{if $posting->is_selected()}
  <td align='right' nowrap><font color='green'>{$posting->get_created_time()}</font></td>
{elseif $posting->is_new()}
  <td align='right' nowrap><font color='#{$posting->get_newness_hex()}0000'>{$posting->get_created_time()}</font></td>
{else}
  <td align='right' nowrap>{$posting->get_created_time()}</td>
{/if}
  <td align='center' width=8><img src='{$__theme_dir}/img/null.png' width=8 height=23 alt='' /></td>
 </tr>
<!-- end thread_row -->
{/foreach}
{else}
<tr><td height='4'></td></tr>
<tr><td align='center'><i>{lang text="search_no_posting"}</i></td></tr>
<tr><td height='4'></td></tr>
{/if}
</table>
