<!-- thread_row -->
<tr class='posting' valign='middle' bgcolor='#ffffff'>
  <td align='center' width=8><img src='themes/heise/img/null.png' width=8 height=23 alt='' /></td>
{if $__group->may('moderate')}
  <td width='1' align='left'>{include file="moderator_buttons.tmpl"}</td>
  <td align='center' width=4><img src='themes/heise/img/null.png' width=4 height=23 alt='' /></td>
{/if}
  <td align='left'>{strip}
  <table border=0 cellspacing=0 cellpadding=0>
    <tr>
     <td align='left'>
{*
  $indent:
  1: INDENT_DRAW_DASH
  2: INDENT_DRAW_SPACE
*}
{foreach item=indent from=$message->get_indent()}
  {if $indent == 1}
     <img src='themes/heise/img/l.png' width=20 height=23 alt='|' />
  {else}
     <img src='themes/heise/img/null.png' width=20 height=23 alt='&nbsp;' />
  {/if}
{/foreach}
{*
  $message->get_relation():
  1: PARENT_WITHOUT_CHILDREN
  2: PARENT_WITH_CHILDREN_UNFOLDED
  3: PARENT_WITH_CHILDREN_FOLDED
  4: BRANCHBOTTOM_CHILD_WITHOUT_CHILDREN
  5: BRANCHBOTTOM_CHILD_WITH_CHILDREN
  6: CHILD_WITHOUT_CHILDREN
  7: CHILD_WITH_CHILDREN
*}
{if $message->get_relation() == 1}
     <img src='themes/heise/img/o.png' width=9 height=21 alt='' />
{elseif $message->get_relation() == 2}
     <a href='{$message->get_fold_url()|escape}'><img src='themes/heise/img/m.png' border=0 width=9 height=21 alt='0' /></a>
{elseif $message->get_relation() == 3}
     <a href='{$message->get_fold_url()|escape}'><img src='themes/heise/img/p.png' border=0 width=9 height=21 alt='0' /></a>
{elseif $message->get_relation() == 4 || $message->get_relation() == 5}
     <img src='themes/heise/img/e.png' width=20 height=23 alt='`-' />
{elseif $message->get_relation() == 6 || $message->get_relation() == 7}
     <img src='themes/heise/img/x.png' width=20 height=23 alt='|-' />
{/if}
     </td>
     <td align='left'>
{if $message->get_priority() > 0}
     &nbsp;<img src='themes/heise/img/sticky.png' width="16" height="16" alt='!' />
{/if}
{if $message->is_selected()}
     &nbsp;<font size='-1' color='green'>{$message->get_subject()|truncate:$max_subjectlength|escape}</font>
{elseif !$message->is_active()}
     &nbsp;<font size='-1'>{$message->get_subject()|truncate:$max_subjectlength|escape}</font>
{else}
     <font size='-1'>&nbsp;<a href='{$message->get_url()|escape}'>{$message->get_subject()|truncate:$max_subjectlength|escape}</a></font>
{/if}
{if $message->get_relation() == 3}<font size='-1'>&nbsp;({$message->get_n_children()})</font>{/if}
     </td>
    </tr>
   </table>
  </td>
{/strip}
  <td><img src='themes/heise/img/null.png' width=8 height=23 alt='' /></td>
{if $message->is_selected()}
  {assign var="attr" value=" color='green'"}
{else}
  {assign var="attr" value=""}
{/if}
  <td align='left'>
    &nbsp;<font size='-1'{$attr}>{$message->get_username()|escape}</font>
{if $message->get_user_is_special()}
    <img src="{$message->get_user_icon()|escape}"
         title="{lang text=$message->get_user_icon_name()}" />
{/if}
  </td>
{if $message->is_selected()}
  <td align='right' nowrap><font size='-1' color='green'>{$message->get_created_time()}</font></td>
{elseif $message->is_new()}
  <td align='right' nowrap><font size='-1' color='#{$message->get_newness_hex()}0000'>{$message->get_created_time()}</font></td>
{else}
  <td align='right' nowrap><font size='-1'>{$message->get_created_time()}</font></td>
{/if}
  <td align='center' width=8><img src='themes/heise/img/null.png' width=8 height=23 alt='' /></td>
 </tr>
<!-- end thread_row -->
