<table cellpadding="40">
  <tr>
    <td>
    {include file="score_list.inc.tmpl" title="weekly_top" users=$weekly}
    </td>
    <td>
    {include file="score_list.inc.tmpl" title="alltime_top" users=$all_time}
    </td>
  </tr>
</table>
