<table border='0' cellpadding='0' cellspacing='0'>
{if $n_rows > 0}
{foreach item=user from=$users}
<tr>
  <td align='center' width=8><img src='themes/heise/img/null.png' width=8 height=23 alt='' /></td>
  <td align='left'>
  <a href="{$user->get_profile_url()}">{$user->get_name()|escape}</a>
{if $group}
  <img src="{$group->get_icon()|escape}" title="{lang text=$group->get_name()}" />
{/if}
  </td>
  <td width='12'>&nbsp;</td>
  <td align='left' nowrap>{$user->get_status_name()}</td>
  <td width='12'>&nbsp;</td>
  <td align='right' nowrap>
  <font size='-1'>{lang text="account_created"} {$user->get_created_time()}</font>
  </td>
</tr>
{/foreach}
{else}
<tr><td height='4'></td></tr>
<tr><td align='center'><i>{lang text="search_no_users"}</i></td></tr>
<tr><td height='4'></td></tr>
{/if}
</table>
