<p>
<h2>{lang text="profile" name=$user->get_username()|escape}</h2>
{if $hint}<p style="color:red;">{$hint}</p>{/if}
<table>
  <tr>
    <td><b>{lang text="group_name"|escape}</b></td>
    <td>{$group->get_name()|escape}</td>
  </tr>
  <tr>
    <td><b>{lang text="account_name"|escape}</b></td>
    <td>{$user->get_username()|escape}</td>
  </tr>
  <tr>
    <td><b>{lang text="account_created"|escape}</b></td>
    <td>{$user->get_created_time()|escape}</td>
  </tr>
  <tr>
    <td><b>{lang text="account_messages"|escape}</b></td>
    <td>{$n_messages|escape}</td>
  </tr>
  <tr>
    <td><b>{lang text="account_mail"|escape}</b></td>
{if $user->mail_is_public()}
    <td>{$user->get_mail()|escape}</td>
{else}
    <td><i>{lang text="account_hiddenmail"|escape}</i></td>
{/if}
  </tr>
  <tr>
    <td><b>{lang text="account_homepage"}</b></td>
    <td>
{if $user->get_homepage()}
      <a href="{$user->get_homepage()|escape}">{$user->get_homepage()|escape}</a>
{else}
      <i>{lang text="account_emptyfield"}</i>
{/if}
    </td>
  </tr>
  <tr>
    <td><b>{lang text="account_im"}</b></td>
    <td>
{if $user->get_im()}
      {$user->get_im()|escape}
{else}
      <i>{lang text="account_emptyfield"}</i>
{/if}
    </td>
  </tr>
</table>
</p>
