<p>
<h2>{lang text="account_data"|escape}</h2>
{if $hint}<p style="color:red;">{$hint}</p>{/if}
<form action="{$action|escape}" method="post" accept-charset="utf-8">
  <table>
    <tr>
      <td>{lang text="account_name"|escape}</td>
      <td>{$user->get_username()|escape}</td>
    </tr>
    <tr>
      <td>{lang text="account_firstname"|escape}</td>
      <td><input size="70" type="text" name="firstname" value="{$user->get_firstname()|escape}" /></td>
    </tr>
    <tr>
      <td>{lang text="account_lastname"|escape}</td>
      <td><input size="70" type="text" name="lastname" value="{$user->get_lastname()|escape}" /></td>
    </tr>
    <tr>
      <td>{lang text="account_mail"|escape}</td>
      <td><input size="70" type="text" name="mail" value="{$user->get_mail()|escape}" /></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="checkbox" name="publicmail" {if $user->mail_is_public()}checked="checked"{/if} />{lang text="account_publicmail"|escape}</td>
    </tr>
    <tr>
      <td>{lang text="account_homepage"}</td>
      <td><input size="70" type="text" name="homepage" value="{$user->get_homepage()|escape}" /></td>
    </tr>
    <tr>
      <td>{lang text="account_im"}</td>
      <td><input size="70" type="text" name="im" value="{$user->get_im()|escape}" /></td>
    </tr>
    <tr>
      <td>{lang text="account_signature"}</td>
      <td><textarea cols="80" name="signature">{$user->get_signature()|escape}</textarea></td>
    </tr>
    <tr>
      <td>{lang text="account_password"}</td>
      <td><input size="70" type="password" name="password" /></td>
    </tr>
    <tr>
      <td>{lang text="account_password2"}</td>
      <td><input size="70" type="password" name="password2" /></td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" name="user_data_submit" value="{lang text="account_save"|escape}" />
      </td>
    </tr>
  </table>
</form>
</p>
