<p>
<h2>
  {lang text="profile" name=$user->get_name()|escape}
{if $__user->get_id() == $user->get_id() or $__group->may('administer')}
  <a href="{$user->get_user_data_url()|escape}">{lang text="account_edit"}</a>
{/if}
</h2>
{if $hint}<p style="color:red;">{$hint}</p>{/if}
<table>
  <tr>
    <td>{lang text="group_name"|escape}</td>
    <td>
      <a href="{$group->get_profile_url()}">{$group->get_name()|escape}</a>
      <img src="{$group->get_icon()}" title="{$group->get_name()}" />
    </td>
  </tr>
  <tr>
    <td>{lang text="account_id"|escape}</td>
    <td>{$user->get_id()|escape}</td>
  </tr>
  <tr>
    <td>{lang text="account_name"|escape}</td>
    <td>{$user->get_name()|escape}</td>
  </tr>
  <tr>
    <td>{lang text="account_status"|escape}</td>
    <td>{$user->get_status_name()|escape}</td>
  </tr>
  <tr>
    <td>{lang text="account_created"|escape}</td>
    <td>{$user->get_created_time()|escape}</td>
  </tr>
  <tr>
    <td>{lang text="account_messages"|escape}</td>
    <td>{$n_messages|escape}</td>
  </tr>
  <tr>
    <td>{lang text="account_mail"|escape}</td>
{if $user->mail_is_public()}
    <td>{$user->get_mail()|escape}</td>
{else}
    <td><i>{lang text="account_hiddenmail"|escape}</i></td>
{/if}
  </tr>
  <tr>
    <td>{lang text="account_homepage"}</td>
    <td>
{if $user->get_homepage()}
      <a href="{$user->get_homepage()|escape}">{$user->get_homepage()|escape}</a>
{else}
      <i>{lang text="account_emptyfield"}</i>
{/if}
    </td>
  </tr>
  <tr>
    <td>{lang text="account_im"}</td>
    <td>
{if $user->get_im()}
      {$user->get_im()|escape}
{else}
      <i>{lang text="account_emptyfield"}</i>
{/if}
    </td>
  </tr>
</table>
</p>
