<!-- user profile -->
<h2>
  {lang text="profile" name=$user->get_name()}
{if $may_edit}
  {$user->get_editor_url_html()}
{/if}
</h2>
{include file="error.inc.tmpl"}

{if $showinfo}
<p>
<table summary=''>
  <tr>
    <td>{lang text="group_name"}</td>
    <td>
      <a href="{$group->get_profile_url_string()|escape}">{$group->get_name()|escape}</a>
      <img src="{$group->get_icon()}" title="{$group->get_name()|escape}" />
    </td>
  </tr>
  <tr>
    <td>{lang text="account_id"}</td>
    <td>{$user->get_id()|escape}</td>
  </tr>
  <tr>
    <td>{lang text="account_name"}</td>
    <td>{$user->get_name()|escape}</td>
  </tr>
  <tr>
    <td>{lang text="account_status"}</td>
    <td>{$user->get_status_name()|escape}</td>
  </tr>
  <tr>
    <td>{lang text="account_created"}</td>
    <td>{$user->get_created_time()|escape}</td>
  </tr>
  <tr>
    <td>{lang text="account_postings"}</td>
    <td>{$n_postings|escape}</td>
  </tr>
  <tr>
    <td>{lang text="account_mail"}</td>
{if $user->mail_is_public()}
    <td>{$user->get_mail()|escape}</td>
{else}
    <td><i>{lang text="account_hiddenmail"}</i></td>
{/if}
  </tr>
  <tr>
    <td>{lang text="account_homepage"}</td>
    <td>
{if $user->get_homepage()}
      <a href="{$user->get_homepage()|escape}">{$user->get_homepage()|escape}</a>
{else}
      <i>{lang text="account_emptyfield"}</i>
{/if}
    </td>
  </tr>
  <tr>
    <td>{lang text="account_im"}</td>
    <td>
{if $user->get_im()}
      {$user->get_im()|escape}
{else}
      <i>{lang text="account_emptyfield"}</i>
{/if}
    </td>
  </tr>
</table>
</p>
{/if}
{if $showlist}
<p>
{include file="thread_with_indexbar.tmpl"}
{/if}
<!-- end user profile -->
