<!-- bbview posting -->
<div class="bbview_post">
  <div class="bbview_post_status">
    <div class="bbview_post_time">
      {$posting->get_created_time()}
    </div>
  </div>

  <div class="bbview_post_box">
    <div class="bbview_post_info">
      <div class="bbview_post_user">
        {if $posting->get_user_is_anonymous()}
          <i>{$posting->get_username()|escape}</i>
        {else}
          {$posting->get_user_profile_url_html()}
        {/if}
        {if $posting->get_user_is_special()}
          <img src="{$posting->get_user_icon()|escape}"
               alt=""
               title="{$posting->get_user_icon_name()|escape}" />
        {/if}
      </div>
      <div class="bbview_post_icons">
        {if $posting->get_priority() > 0}
          <img src='{$__theme_dir}/img/sticky.png' width="16" height="16" alt='!' />
        {/if}
        {if $posting->was_moved()}
          <img src="{$__theme_dir}/img/move.png" alt="" title="{t}Moved{/t}" />
        {/if}
        {if $posting->is_new()}
          <img src="{$__theme_dir}/img/new.gif" alt="" title="{t}New{/t}" />
        {else}
          <img src="{$__theme_dir}/img/notnew.gif" alt="" />
        {/if}
        {if $__group->may('moderate')}
          {include file="moderator_buttons.inc.tmpl" posting=$posting}
        {/if}
      </div>
    </div>

    <div class="bbview_post_text">
      <div class="bbview_post_subject">
        {$posting->get_subject()|escape}
      </div>
      <div class="bbview_post_body">
        {$posting->get_body_html()}
      </div>
      <div class="bbview_post_buttons">
        <ul id="page_links">
          {if $may_write && $posting->is_active() && $posting->get_allow_answer()}
            <li>{$posting->get_respond_url_html()}</li>
          {/if}
          {if $may_edit && $posting->is_editable() && $__user->get_id() == $posting->get_user_id()}
            <li>{$posting->get_edit_url_html()}</li>
          {/if}
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- bbview posting end -->
