<!-- bbview posting -->
<div class="bbview_post">
  <div class="bbview_post_status">
    <div class="bbview_post_time">
      <?php echo $posting->get_created_time()?>
    </div>
  </div>

  <div class="bbview_post_box">
    <div class="bbview_post_info">
      <div class="bbview_post_user">
        <?php if ($posting->get_user_is_anonymous()) { ?>
          <i><?php echo esc($posting->get_username())?></i>
        <?php } else { ?>
          <?php echo $posting->get_user_profile_url_html()?>
        <?php } ?>
        <?php if ($posting->get_user_is_special()) { ?>
          <img src="<?php echo esc($posting->get_user_icon())?>"
               alt=""
               title="<?php echo esc($posting->get_user_icon_name())?>" />
        <?php } ?>
      </div>
      <div class="bbview_post_icons">
        <?php if ($posting->get_priority() > 0) { ?>
          <img src='<?php echo $__theme_dir?>/img/sticky.png' width="16" height="16" alt='!' />
        <?php } ?>
        <?php if ($posting->was_moved()) { ?>
          <img src="<?php echo $__theme_dir?>/img/move.png" alt="" title="<?php echo esc(_('Moved'))?>" />
        <?php } ?>
        <?php if ($posting->is_new()) { ?>
          <img src="<?php echo $__theme_dir?>/img/new.gif" alt="" title="<?php echo esc(_('New'))?>" />
        <?php } else { ?>
          <img src="<?php echo $__theme_dir?>/img/notnew.gif" alt="" />
        <?php } ?>
        <?php if ($__group->may('moderate')) { $may_unlock = $__group->may('unlock'); ?>
          <?php require "$template_dir/moderator_buttons.inc.php.tmpl" ?>
        <?php } ?>
      </div>
    </div>

    <div class="bbview_post_text">
      <div class="bbview_post_subject">
        <?php echo esc($posting->get_subject())?>
      </div>
      <div class="bbview_post_body">
        <?php echo $posting->get_body_html()?>
      </div>
      <div class="bbview_post_buttons">
        <ul class="page_links">
          <?php if ($may_write && $posting->is_active() && $posting->get_allow_answer()) { ?>
            <li><?php echo $posting->get_respond_url_html()?></li>
          <?php } ?>
          <?php if ($may_edit && $posting->is_editable() && $__user->get_id() == $posting->get_user_id()) { ?>
            <li><?php echo $posting->get_edit_url_html()?></li>
          <?php } ?>
          <li><!-- //TODO --></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- bbview posting end -->
