{include file="indexbar.tmpl"}
{foreach item=thread name=threads from=$threads}
  <div class="bbview_row">
    <div class="bbview_icons">
      {if $thread->is_new()}
        <img src="{$__theme_dir}/img/new.gif" alt="" title="{t}New{/t}" />
      {else}
        <img src="{$__theme_dir}/img/notnew.gif" alt="" />
      {/if}
      {if $thread->get_priority() > 0}
        <img src='{$__theme_dir}/img/sticky.png' width="16" height="16" alt='!' />
      {/if}
      {if $thread->was_moved()}
        <img src="{$__theme_dir}/img/move.png" alt="" title="{t}Moved{/t}" />
      {/if}
    </div>
    <div class="bbview_row_main">
      <div class="bbview_subject">
        {$thread->get_url_html()}
      </div>
      <div class="bbview_user">
        {t 1=$thread->get_username()}by %1{/t}
        {if $thread->get_user_is_special()}
          <img src="{$thread->get_user_icon()|escape}"
               alt=""
               title="{$thread->get_user_icon_name()|escape}" />
        {/if}
      </div>
      <div class="bbview_created">
        {t 1=$thread->get_created_time()}on %1{/t}
      </div>
    </div>
    <div class="bbview_row_status">
      <div class="bbview_time">
        {$thread->get_updated_time()}
      </div>
      <div class="bbview_n_postings">
        {$thread->get_n_postings()}
      </div>
      <div class="bbview_n_new">
        {$thread->get_n_new_postings()}
      </div>
    </div>
  </div>
{if !$smarty.foreach.threads.last}<hr class="bbview_separator"/>{/if}
{/foreach}
{include file="indexbar.tmpl"}
