<!-- breadcrumbs -->
<table id='breadcrumbs' width='100%' cellpadding='6' cellspacing='0' summary=''>
 <tr>
  <td align='left' valign='middle'>
  &nbsp;{t}You are here:{/t}
  {include file="links.inc.tmpl"
           links=$breadcrumbs
           name="breadcrumb_links"
           separator="→"}
  </td>
  <td align='right' valign='middle'>
  {include file="links.inc.tmpl" links=$search_links name="search_links"}
  </td>
 </tr>
</table>
<!-- end breadcrumbs -->
<!-- page links -->
{if $show_page_links}
<table width='100%' cellpadding='5' cellspacing='0' summary=''>
 <tr>
  <td align='center'>
  {include file="links.inc.tmpl" links=$page_links name="page_links"}
  </td>
 </tr>
</table>
{/if}
<div id="content">
<!-- end page links -->
