<!-- breadcrumbs -->
<table id='breadcrumbs' width='100%' cellpadding='6' cellspacing='0' summary=''>
 <tr>
  <td align='left' valign='middle'>
  &nbsp;<?php echo esc(_('You are here:'))?>
  <?php echo html_menu('breadcrumb_links', $breadcrumbs, '→')?>
  </td>
  <td align='right' valign='middle'>
  <?php echo html_menu('search_links', $search_links)?>
  </td>
 </tr>
</table>
<!-- end breadcrumbs -->
<!-- page links -->
<?php if ($show_page_links) { ?>
  <table width='100%' cellpadding='5' cellspacing='0' summary=''>
   <tr>
    <td align='center'>
    <?php echo html_menu('page_links', $page_links)?>
    </td>
   </tr>
  </table>
<?php } ?>
<div id="content">
<!-- end page links -->
