<!-- footer -->
<?php
  $name  = 'views';
  $links = $view_links;
  require "$template_dir/links.inc.php.tmpl";
?>
</div>

<div id="footer">
  <hr />
  <?php
    $name      = 'footer_links';
    $links     = $footer_links;
    $separator = '|';
    require "$template_dir/links.inc.php.tmpl";
  ?>
</div>
<!-- end footer -->
