<!-- footer -->
{include file="links.inc.tmpl" links=$view_links name="views"}
</div>

<div id="footer">
  <hr />
  {include file="links.inc.tmpl"
           links=$footer_links
           name="footer_links"
           separator="|"}
</div>
<!-- end footer -->
