<!-- group editor -->
<h2><?php echo esc(sprintf(_('Permissions of %s'), $group->get_name()))?></h2>
<?php require "$template_dir/error.inc.php.tmpl" ?>

<form action="<?php echo esc($action)?>" method="post" accept-charset="utf-8" autocomplete="off">
<input type="hidden" name="group_id" value="<?php echo $group->get_id()?>" />
<table summary=''>
  <tr>
    <td><?php echo esc(_('Group ID:'))?></td>
    <td><?php echo esc($group->get_id())?></td>
  </tr>
  <tr>
    <td><?php echo esc(_('User group:'))?></td>
    <td><input size="70" type="text" name="groupname" value="<?php echo esc($group->get_name())?>" /></td>
  </tr>
  <tr>
    <td><?php echo esc(_('Icon:'))?></td>
    <td>
      <?php echo esc($group->get_icon())?>
      <img src="<?php echo $group->get_icon()?>" title="<?php echo esc($group->get_name())?>" alt="" />
    </td>
  </tr>
  <tr>
    <td><?php echo esc(_('Created on:'))?></td>
    <td><?php echo esc($group->get_created_time())?></td>
  </tr>
</table>

<h3><?php echo esc(_('Permissions'))?></h3>
<table summary=''>
<?php foreach ($group->get_permission_list() as $action => $permission) { ?>
  <tr>
    <td>
      <input type="checkbox" name="may_<?php echo esc($action)?>" <?php if ($permission) { ?>checked="checked"<?php } ?> />
      <?php echo esc(sprintf(_("Permit '%s'"), $action))?>
    </td>
  </tr>
<?php } ?>
</table>
<input type="submit" name="group_submit" value="<?php echo esc(_('Save Group'))?>" />
</form>
<!-- end group editor -->
