<!-- group profile -->
<h2>
  <?php echo esc(sprintf(_('Profile of %s'), $group->get_name()))?>
<?php if ($__group->may('administer')) { ?>
  <?php echo $group->get_editor_url_html()?>
<?php } ?>
</h2>
<?php require "$template_dir/error.inc.php.tmpl" ?>

<table summary=''>
  <tr>
    <td><?php echo esc(_('Group ID:'))?></td>
    <td><?php echo esc($group->get_id())?></td>
  </tr>
  <tr>
    <td><?php echo esc(_('User group:'))?></td>
    <td>
      <?php echo esc($group->get_name())?>
      <img src="<?php echo $group->get_icon()?>" title="<?php echo $group->get_name()?>" alt="" />
    </td>
  </tr>
  <tr>
    <td><?php echo esc(_('Special functionality:'))?></td>
<?php if ($group->is_special()) { ?>
    <td><?php echo esc(_('Yes'))?></td>
<?php } else { ?>
    <td><?php echo esc(_('None'))?></td>
<?php } ?>
  </tr>
  <tr>
    <td><?php echo esc(_('Status:'))?></td>
    <td><?php echo esc($group->get_status_name())?></td>
  </tr>
  <tr>
    <td><?php echo esc(_('Created on:'))?></td>
    <td><?php echo esc($group->get_created_time())?></td>
  </tr>
</table>
<br />
<?php
  require "$template_dir/indexbar.php.tmpl";
  require "$template_dir/user_list.php.tmpl";
  require "$template_dir/indexbar.php.tmpl";
?>
<!-- end group profile -->
