<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- header -->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <link rel="stylesheet" type="text/css" href="{$__theme_dir}/style.css" />
  <link rel="stylesheet" type="text/css" href="{$__theme_dir}/thread.css" />
  <link rel="stylesheet" type="text/css" href="{$__theme_dir}/bbview.css" />
  <title>{$title|escape}</title>
{if $style}
  <style type="text/css">
  {$style}
  </style>
{/if}
{if $head_js}
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <script type="text/javascript">
//<![CDATA[
  {$head_js}
//]]>
  </script>
{/if}
</head>
<body {if $onload_js}onload="{$onload_js|escape}"{/if}>
<div id='header'>
  <div id='header1'>
    <a href='.'><img id='logo' src='{$__theme_dir}/img/logo.png' alt='' /></a>
  </div>

  <div id='header2'>
    <a href='.'><span id='title'>{$site_title|escape}</span></a>
  </div>

  <div id='header3'>
    <span id='account_links'>
{foreach name=loop item=item from=$account_links->get_items()}
  {if $smarty.foreach.loop.index > 0}&nbsp;|&nbsp;{/if}
  {if $item->is_link()}
    {$item->get_url_html()}
  {else}
    {$item->get_text()|escape|replace:" ":"&nbsp;"}
  {/if}
{/foreach}
    </span>
    <br />
{if $n_online}
    <span id='status'>
      {t count=$n_online plural="%1 users online" 1=$n_online}One user online{/t}
    </span>
{/if}
  </div>
</div>
<!-- end header -->
