<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- header -->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=404" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link rel="stylesheet" type="text/css" href="<?php echo $__theme_dir?>/style.css" />
  <link rel="stylesheet" type="text/css" href="<?php echo $__theme_dir?>/thread.css" />
  <link rel="stylesheet" type="text/css" href="<?php echo $__theme_dir?>/bbview.css" />
  <title><?php echo esc($title)?></title>
<?php if ($style) { ?>
  <style type="text/css">
  <?php echo $style?>
  </style>
<?php } ?>
<?php if ($head_js) { ?>
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <script type="text/javascript">
//<![CDATA[
  <?php echo $head_js?>
//]]>
  </script>
<?php } ?>
</head>
<body id='top' <?php if ($onload_js) { ?>onload="<?php echo esc($onload_js)?>"<?php } ?>>
<div id='header'>
  <div id='header1'>
    <a href='.'><img id='logo' src='<?php echo $__theme_dir?>/img/logo.png' alt='Logo' /></a>
  </div>

  <div id='header2'>
    <a href='.'><span id='title'><?php echo esc($site_title)?></span></a>
  </div>

  <div id='header3'>
    <?php echo html_menu('account_links', $account_links, '|')?>
    <br />
<?php if ($n_online) { ?>
    <span id='status'>
      <?php echo esc(sprintf(ngettext('%d user online', '%d users online', $n_online), $n_online))?>
    </span>
<?php } ?>
  </div>
</div>
<!-- end header -->
