<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- header -->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <link rel="stylesheet" type="text/css" href="<?=$__theme_dir?>/style.css" />
  <link rel="stylesheet" type="text/css" href="<?=$__theme_dir?>/thread.css" />
  <link rel="stylesheet" type="text/css" href="<?=$__theme_dir?>/bbview.css" />
  <title><?=htmlentities($title)?></title>
<?php if ($style) { ?>
  <style type="text/css">
  <?=$style?>
  </style>
<?php } ?>
<?php if ($head_js) { ?>
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <script type="text/javascript">
//<![CDATA[
  <?=$head_js?>
//]]>
  </script>
<?php } ?>
</head>
<body <?php if ($onload_js) { ?>onload="<?=htmlentities($onload_js)?>"<?php } ?>>
<div id='header'>
  <div id='header1'>
    <a href='.'><img id='logo' src='<?=$__theme_dir?>/img/logo.png' alt='' /></a>
  </div>

  <div id='header2'>
    <a href='.'><span id='title'><?=htmlentities($site_title)?></span></a>
  </div>

  <div id='header3'>
    <span id='account_links'>
    <?php
      $name            = 'account_links';
      $links           = $account_links;
      $extra_separator = '|';
      require "$template_dir/links.inc.php.tmpl";
    ?>
    </span>
    <br />
<?php if ($n_online) { ?>
    <span id='status'>
      <?=sprintf(ngettext('%d user online', '%d users online', $n_online), $n_online)?>
    </span>
<?php } ?>
  </div>
</div>
<!-- end header -->
