<!-- home -->
<h2><?php echo esc(_('Welcome!'))?></h2>
<span class="intro"><?php echo esc(_('Please select a forum from the list.'))?></span>
<?php require "$template_dir/error.inc.php.tmpl" ?>

<div id="forum_home">
<?php foreach ($forums as $forum) { ?>
  <p>
<?php if ($forum->is_active()) { ?>
    <span class="forum_link"><?php echo $forum->get_url_html()?></span>
  <?php if ($forum->is_readonly()) { ?>
      <span class="read_only">(read only)</span>
  <?php } ?>
<?php } else { ?>
    <span class="forum_link_inactive"><?php echo $forum->get_url_html()?></span>
<?php } ?>
<?php if ($may_edit) { ?>
    <span class="forum_edit"><?php echo $forum->get_editor_url_html()?></span>
<?php } ?>
    <span class="forum_status"><?php echo esc($forum->get_status_text())?></span>
    <br/>
    <span class="forum_description"><?php echo esc($forum->get_description())?></span>
  </p>
<?php } ?>
<?php if ($may_edit) { ?>
  <p>
    <span id="forum_add"><?php echo $add_forum_url->get_html()?></span>
  </p>
<?php } ?>
</div>

<div class="section" id="home_activity">
  <h3><?php echo esc(_('Recent Forum Activity'))?></h3>
  <ul>
  <?php if ($postings) { ?>
    <?php foreach ($postings as $posting) { ?>
      <?php if ($posting->is_active()) { ?>
        <li><?php echo $posting->get_url_html_plus()?></li>
      <?php } else { ?>
        <li><?php echo esc($posting->get_subject())?></li>
      <?php } ?>
    <?php } ?>
  <?php } else { ?>
    <li><?php echo esc(_('(No postings found)'))?></li>
  <?php } ?>
  </ul>
</div>

<div class="section" id="home_forum_links">
  <h3><?php echo esc(_('Forum Information'))?></h3>
  <ul>
  <?php foreach ($forum_links->get_items() as $item) { ?>
    <?php if ($item->is_separator()) { ?>
      <li><hr/></li>
    <?php } elseif ($item->is_link()) { ?>
      <li><?php echo $item->get_url_html()?></li>
    <?php } else { ?>
      <li><?php echo $item->get_text(TRUE)?></li>
    <?php } ?>
  <?php } ?>
  </ul>
</div>

<div class="section" id="home_new_users">
  <h3><?php echo esc(_('Recently Registered Users'))?></h3>
  <ul>
  <?php foreach ($new_users as $user) { ?>
    <li><?php echo $user->get_profile_url_html($user->get_name())?></li>
  <?php } ?>
  </ul>
</div>
<!-- end home -->
