<!-- home -->
<h2>{t}Welcome!{/t}</h2>
<span class="intro">{t}Please select a forum from the list.{/t}</span>
{include file="error.inc.tmpl"}

<div id="forum_home">
{foreach item=forum from=$forums}
  <p>
{if $forum->is_active()}
    <span class="forum_link">{$forum->get_url_html()}</span>
{else}
    <span class="forum_link_inactive">{$forum->get_url_html()}</span>
{/if}
{if $may_edit}
    <span class="forum_edit">{$forum->get_editor_url_html()}</span>
{/if}
    <span class="forum_status">{$forum->get_status_text()|escape}</span>
    <br/>
    <span class="forum_description">{$forum->get_description()|escape}</span>
  </p>
{/foreach}
{if $may_edit}
  <p>
    <span id="forum_add">{$add_forum_url->get_html()}</span>
  </p>
{/if}
</div>

<div class="section" id="home_activity">
  <h3>{t}Recent Forum Activity{/t}</h3>
  <ul>
  {if $postings}
    {foreach item=posting from=$postings}
      {if $posting->is_active()}
        <li>{$posting->get_url_html()}</li>
      {else}
        <li>{$posting->get_subject()|escape}</li>
      {/if}
    {/foreach}
  {else}
    <li>{t}(No postings found){/t}</li>
  {/if}
  </ul>
</div>

<div class="section" id="home_forum_links">
  <h3>{t}Forum Information{/t}</h3>
  <ul>
  {foreach item=item from=$forum_links->get_items()}
    {if $item->is_separator()}
      <li><hr/></li>
    {elseif $item->is_link()}
      <li>{$item->get_url_html()}</li>
    {else}
      <li>{$item->get_text()|escape|replace:" ":"&nbsp;"}</li>
    {/if}
  {/foreach}
  </ul>
</div>

<div class="section" id="home_new_users">
  <h3>{t}Recently Registered Users{/t}</h3>
  <ul>
  {foreach item=user from=$new_users}
    <li>{$user->get_profile_url_html($user->get_name())}</li>
  {/foreach}
  </ul>
</div>
<!-- end home -->
