<table id='list_view' summary=''>
<?php foreach ($postings as $posting) { ?>
<!-- latest_row -->
<tr class='posting'>
  <td class='thread_tree'>
<?php if ($posting->get_priority() > 0) { ?>
  <img class='icon'  src='<?=$__theme_dir?>/img/sticky.png' alt='[!]' />&#160;
<?php } ?>
<?php if ($posting->is_selected()) { ?>
  <span class='selected'><?=esc($posting->get_subject())?></span>
<?php } elseif ($posting->is_active()) { ?>
  <?=$posting->get_url_html()?>
<?php } else { ?>
  <?=esc($posting->get_subject())?>
<?php } ?>
<?php if ($posting->was_moved()) { ?>
  <img class='icon' src='<?=$__theme_dir?>/img/move.png' alt='[m]' title='<?=esc(_('Moved'))?>' />
<?php } ?>
  </td>
  <td class='thread_user'>
<?php if ($posting->is_selected()) { ?>
    <span class='selected'><?=esc($posting->get_username())?></span>
<?php } else { ?>
    <?=esc($posting->get_username())?>
<?php } ?>
<?php if ($posting->get_user_is_special()) { ?>
    <img src='<?=esc($posting->get_user_icon())?>'
         alt='[?]'  class='group_icon'
         title='<?=esc($posting->get_user_icon_name())?>' />
<?php } ?>
  </td>
  <td class='thread_date'>
<?php if ($posting->is_selected()) { ?>
    <span class='selected'><?=$posting->get_created_time()?></span>
<?php } elseif ($posting->is_updated()) { ?>
    <span style='color:#<?=$posting->get_updated_newness_hex()?>0000'>
      <span class="edit_marker" title="<?=_('Edited')?>">*</span>&#160;
      <?=$posting->get_updated_time()?>
    </span>
<?php } elseif ($posting->is_new()) { ?>
    <span style='color:#<?=$posting->get_newness_hex()?>0000'>
      <?=$posting->get_created_time()?>
    </span>
<?php } else { ?>
    <?=$posting->get_created_time()?>
<?php } ?>
  </td>
</tr>
<?php } ?>
<?php if ($n_rows == 0) { ?>
<tr>
  <td align='center'>
    <div id='empty_forum_message'><?=esc(_('(No postings found)'))?></div>
  </td>
</tr>
<?php } ?>
</table>
<!-- end latest_row -->
