<!-- links -->
{if $links->length() > 0}
  <ul id="{$name}">
  {foreach name=loop item=item from=$links->get_items()}{strip}
    {if $item->is_separator()}
      <li class="separator">{$separator}</li>
    {elseif $item->is_html()}
      <li class="html">{$item->get_html()}</li>
    {elseif !$item->is_link()}
      <li class="text">{$item->get_text()|escape|replace:" ":"&nbsp;"}</li>
    {else}
      <li class="link">{$item->get_url_html()}</li>
    {/if}
  {/strip}{/foreach}
  </ul>
{/if}
<!-- end links -->
