<!-- links -->
<?php if ($links->length() == 0) return; ?>
  <ul id="<?=$name?>">
<?php
  foreach ($links->get_items() as $item) {
    $i++;
    if ($extra_separator and $i != 1) {
  ?>
        <li class="separator"><?=$extra_separator?></li>
  <?php } if ($item->is_separator()) { ?>
        <li class="separator"><?=$separator?></li>
  <?php } elseif ($item->is_html()) { ?>
        <li class="html"><?=$item->get_html()?></li>
  <?php } elseif (!$item->is_link()) { ?>
        <li class="text"><?=$item->get_text()?></li>
  <?php } else { ?>
        <li class="link"><?=$item->get_url_html()?></li>
  <?php } ?>
  </ul>
<?php
  }
  unset($extra_separator);
?>
<!-- end links -->
