<!-- login -->
<h2>{t}Log in{/t}</h2>
<span class="intro">
  {t}To log in your browser must support cookies.{/t}
</span>
{include file="error.inc.tmpl"}

<form action='{$action|escape}' method='post' accept-charset='utf-8'>
<div>
<input type='hidden' name='action'   value='login' />
<input type='hidden' name='refer_to' value='{$refer_to|escape}' />

<p>
  <label>{t}Username:{/t}</label><br />
  <input type="text"
         name="username"
         size="20"
         value="{$user->get_name()|escape}" />
</p>

<p>
  <label>{t}Password:{/t}</label><br />
  <input type="password" name="password" size="20" /><br />
  <input type="checkbox" name="permanent" value="on" />
  {t}Remember password{/t}
</p>

<p>
  <input type="submit" value='{t}Log in{/t}' />
</p>
</div>
</form>

<p>
  <a href="{$forgot_url|escape}">{t}Forgot your password?{/t}</a>
{if !$user->is_confirmed()}
  <br />
  <a href="{$resend_url|escape}">{t}Resend confirmation email{/t}</a>
{/if}
</p>
<!-- end login -->
