<!-- login -->
<h2><?php echo esc(_('Log in'))?></h2>
<span class="intro">
  <?php echo esc(_('To log in your browser must support cookies.'))?>
</span>
<?php require "$template_dir/error.inc.php.tmpl" ?>

<form action='<?php echo esc($action)?>' method='post' accept-charset='utf-8'>
<div>
<input type='hidden' name='action'   value='login' />
<input type='hidden' name='refer_to' value='<?php echo esc($refer_to)?>' />

<p>
  <label><?php echo esc(_('Username:'))?></label><br />
  <input type="text"
         name="username"
         size="20"
         value="<?php echo esc($user->get_name())?>" />
</p>

<p>
  <label><?php echo esc(_('Password:'))?></label><br />
  <input type="password" name="password" size="20" /><br />
  <input type="checkbox" name="permanent" value="on" />
  <?php echo esc(_('Remember password'))?>
</p>

<p>
  <input type="submit" value='<?php echo esc(_('Log in'))?>' />
</p>
</div>
</form>

<p>
  <?php echo $forgot_url->get_html()?>
<?php if ($resend_url) { ?>
  <br />
  <?php echo $resend_url->get_html()?>
<?php } ?>
</p>
<!-- end login -->
