<!-- moderator_buttons -->
<ul id="moderator_buttons">
<li>
<?php if ($posting->is_active()) { ?>
  <a href="<?=htmlentities($posting->get_lock_url_string())?>">
  <img class='icon' src='<?=$__theme_dir?>/img/unlock.png' title='<?=htmlentities(_('Lock posting'))?>' alt='[L]' />
  <span class='moderator_button_text'><?=htmlentities(_('Lock posting'))?></span>
  </a>
<?php } else { ?>
  <a href="<?=htmlentities($posting->get_unlock_url_string())?>">
  <img class='icon' src='<?=$__theme_dir?>/img/lock.png' title='<?=htmlentities(_('Unlock posting'))?>' alt='[l]' />
  <span class='moderator_button_text'><?=htmlentities(_('Unlock posting'))?></span>
  </a>
<?php } ?>
</li>

<?php if ($posting->is_parent()) { ?>
<li>
  <?php if ($posting->get_priority() == 0) { ?>
    <a href="<?=htmlentities($posting->get_prioritize_url_string(1))?>">
    <img class='icon' src='<?=$__theme_dir?>/img/sticky.png' title='<?=htmlentities(_('Make sticky'))?>' alt='[S]' />
    <span class='moderator_button_text'><?=htmlentities(_('Make sticky'))?></span>
    </a>
  <?php } else { ?>
    <a href="<?=htmlentities($posting->get_prioritize_url_string(0))?>">
    <img class='icon' src='<?=$__theme_dir?>/img/unsticky.png' title='<?=htmlentities(_('Remove sticky'))?>' alt='[s]' />
    <span class='moderator_button_text'><?=htmlentities(_('Remove sticky'))?></span>
    </a>
  <?php } ?>
</li>

<li>
  <a href="<?=htmlentities($posting->get_move_url_string(1))?>">
  <img class='icon' src='<?=$__theme_dir?>/img/move.png' title='<?=htmlentities(_('Move to a different forum'))?>' alt='[M]' />
  <span class='moderator_button_text'><?=htmlentities(_('Move to a different forum'))?></span>
  </a>
</li>
<?php } ?>

<li>
  <?php if ($posting->get_force_stub()) { ?>
    <a href="<?=htmlentities($posting->get_unstub_url_string())?>">
    <img class='icon' src='<?=$__theme_dir?>/img/stub.png' title='<?=htmlentities(_('Allow responses'))?>' alt='[R]' />
    <span class='moderator_button_text'><?=htmlentities(_('Allow responses'))?></span>
    </a>
  <?php } else { ?>
    <a href="<?=htmlentities($posting->get_stub_url_string())?>">
    <img class='icon' src='<?=$__theme_dir?>/img/unstub.png' title='<?=htmlentities(_('Prevent responses'))?>' alt='[r]' />
    <span class='moderator_button_text'><?=htmlentities(_('Prevent responses'))?></span>
    </a>
  <?php } ?>
</li>
</ul>
<!-- moderator_buttons end -->
