<!-- modlog -->
<h2><?php echo esc(_('Moderation Log'))?></h2>
<?php require "$template_dir/error.inc.php.tmpl" ?>

<table width='100%' cellspacing='0' cellpadding='3' border='0' summary=''>
<?php foreach ($items as $item) { ?>
 <tr>
  <td align='left' class='nowrap'><?php echo esc($item->get_created_time())?></td>
  <td>&nbsp;</td>
  <td align='left' class='modlog_entry'><?php echo $item->get_html()?></td>
 </tr>
 <?php if ($item->has_reason()) { ?>
 <tr>
  <td colspan='2'></td>
  <td align='left' class='modlog_reason'>
    <?php echo esc(sprintf(_('Reason: %s'), $item->get_reason_fmt()));
    if ($may_bypass) {
     echo '<br />' . esc(_('Subject:')). ' ' . esc($item->attributes['subject']);
    }
    ?></td>
 </tr>
 <?php } ?>
<?php } ?>
<?php if ($n_rows == 0) { ?>
<tr>
  <td>
    <span id='empty_modlog_message'><?php echo esc(_('No entries yet.'))?></span>
  </td>
</tr>
<?php } ?>
</table>
<!-- end modlog -->
