<!-- modlog -->
<h2>{t}Moderation Log{/t}</h2>
{include file="error.inc.tmpl"}

<table width='100%' cellspacing='0' cellpadding='3' border='0' summary=''>
{if $n_rows > 0}
{foreach item=item from=$items}
 <tr>
  <td align='left' class='nowrap'>{$item->get_created_time()|escape}</td>
  <td>&nbsp;</td>
  <td align='left' class='modlog_entry'>{$item->get_html()}</td>
 </tr>
 {if $item->has_reason()}
 <tr>
  <td colspan='2'></td>
  <td align='left' class='modlog_reason'>
    {t 1=$item->get_reason()}Reason: %1{/t}
  </td>
 </tr>
 {/if}
{/foreach}
{else}
<tr>
  <td>
    <span id='empty_modlog_message'>{t}No entries yet.{/t}</span>
  </td>
</tr>
{/if}
</table>
<!-- end modlog -->
