<!-- password forgotten -->
<h2><?php echo esc(_('Resetting Your Password'))?></h2>
<?php require "$template_dir/error.inc.php.tmpl" ?>

<form action='<?php echo esc($action)?>' method='post' accept-charset='utf-8'>
<div>
<input type='hidden' name='action' value='password_mail_submit' />
<label><?php echo esc(_('Email Address:'))?></label><br />
<input type="text" name="mail" size="42" value="<?php echo esc($user->get_mail())?>" /><br />

<br />
<input type="submit" name="create" value="<?php echo esc(_('Reset Password'))?>" />
</div>
</form>
<!-- end password forgotten -->
