<!-- password mail sent -->
<h2>{t}Resetting Your Password{/t}</h2>
<span class="intro">
  {t}An email with instructions for resetting
  your password has been sent to your email
  address.{/t}
</span>
<!-- end password mail sent -->
