<!-- password forgotten -->
<h2><?=esc(_('Resetting Your Password'))?></h2>
<?php require "$template_dir/error.inc.php.tmpl" ?>

<form action='<?=esc($action)?>' method='post' accept-charset='utf-8'>
<div>
<input type='hidden' name='action' value='password_mail_submit' />
<label><?=esc(_('Email Address:'))?></label><br />
<input type="text" name="mail" size="42" value="<?=esc($user->get_mail())?>" /><br />

<br />
<input type="submit" name="create" value="<?=esc(_('Reset Password'))?>" />
</div>
</form>
<!-- end password forgotten -->
