<!-- password change -->
<h2><?=esc(_('Password Change'))?></h2>
<span class="intro"><?=esc(_('Please assign your personal login password.'))?></span>
<?php require "$template_dir/error.inc.php.tmpl" ?>

<form action='<?=esc($action)?>' method='post' accept-charset='utf-8'>
<div>
<p>
  <label><?=esc(_('Password:'))?></label><br />
  <input type="password" name="password" size="20" value="<?=esc($password)?>" /><br />
</p>

<p>
  <label><?=esc(_('Repeat:'))?></label><br />
  <input type="password" name="password2" size="20" value="<?=esc($password2)?>" /><br />
</p>

<p>
  <input type="hidden" name="action"   value="password_submit" />
  <input type="hidden" name="hash"     value="<?=esc($user->get_confirmation_hash())?>" />
  <input type="hidden" name="username" value="<?=esc($user->get_name())?>" /><br />
  <input type="submit" value="<?=esc(_('Change Password'))?>" />
</p>
</div>
</form>
<!-- end password change -->
