<!-- password mail sent -->
<h2><?php echo esc(_('Resetting Your Password'))?></h2>
<span class="intro">
  <?php echo nl2br(esc(_('An email with instructions for resetting
your password has been sent to your email
address.')))?>
</span>
<!-- end password mail sent -->
