<!-- password changed -->
<h2><?php echo esc(_('User Registration'))?></h2>
<span class="intro">
  <?php echo esc(_('Your password was changed. You may now log in.'))?>
</span>
<!-- end password changed -->
