<!-- password forgotten -->
<h2>{t}Resetting Your Password{/t}</h2>
{include file="error.inc.tmpl"}

<form action='{$action|escape}' method='post' accept-charset='utf-8'>
<div>
<input type='hidden' name='action' value='password_mail_submit' />
<label>{t}Email Address:{/t}</label><br />
<input type="text" name="mail" size="42" value="{$user->get_mail()|escape}" /><br />

<br />
<input type="submit" name="create" value="{t}Reset Password{/t}" />
</div>
</form>
<!-- end password forgotten -->
