<!-- password change -->
<h2><?php echo esc(_('Password Change'))?></h2>
<span class="intro"><?php echo esc(_('Please assign your personal login password.'))?></span>
<?php require "$template_dir/error.inc.php.tmpl" ?>

<form action='<?php echo esc($action)?>' method='post' accept-charset='utf-8'>
<div>
<p>
  <label><?php echo esc(_('Password:'))?></label><br />
  <input type="password" name="password" size="20" value="<?php echo esc($password)?>" /><br />
</p>

<p>
  <label><?php echo esc(_('Repeat:'))?></label><br />
  <input type="password" name="password2" size="20" value="<?php echo esc($password2)?>" /><br />
</p>

<p>
  <input type="hidden" name="action"   value="password_submit" />
  <input type="hidden" name="hash"     value="<?php echo esc($user->get_confirmation_hash())?>" />
  <input type="hidden" name="username" value="<?php echo esc($user->get_name())?>" /><br />
  <input type="submit" value="<?php echo esc(_('Change Password'))?>" />
</p>
</div>
</form>
<!-- end password change -->
