<!-- posting lock -->
<h2>{lang text="posting_lock_title"}</h2>
{include file="error.inc.tmpl"}

<form action="{$action|escape}"
      method="post"
      accept-charset="utf-8">
<input type="hidden" name="action"   value="posting_lock_submit" />
<input type="hidden" name="msg_id"   value="{$posting->get_id()}" />
<input type="hidden" name="refer_to" value="{$refer_to|escape}" />
<table summary=''>
  <tr>
    <td>
      <span class="label">{lang text="posting_lock_username"}</span>
    </td>
    <td>{$posting->get_username()|escape}</td>
  </tr>
  <tr>
    <td>
      <span class="label">{lang text="posting_lock_subject"}</span>
    </td>
    <td>{$posting->get_subject()|escape}</td>
  </tr>
  <tr>
    <td colspan="2">
      <span class="label">{lang text="posting_lock_reason"}</span>
    </td>
  </tr>
</table>
<textarea name='reason' cols='80' rows='10' wrap='virtual'>
</textarea>

<p>
  <input type="submit"
         name="posting_lock_submit"
         value="{lang text="posting_lock"}" />
</p>
</form>
<!-- end posting lock -->
