<!-- posting lock -->
<h2><?php echo esc(_('Lock a Posting'))?></h2>
<?php require "$template_dir/error.inc.php.tmpl" ?>

<script type="text/javascript">
function change () {
  if (document.getElementById('spam_checkbox').checked == true) {
    document.getElementById('reason').disabled = true;
  } else {
    document.getElementById('reason').disabled = false;
  }
}
</script>

<form action="<?php echo esc($action)?>"
      method="post"
      accept-charset="utf-8">
<div>
<input type="hidden" name="action"   value="posting_lock_submit" />
<input type="hidden" name="msg_id"   value="<?php echo $posting->get_id()?>" />
<input type="hidden" name="refer_to" value="<?php echo esc($refer_to)?>" />
<table summary=''>
  <tr>
    <td>
      <label><?php echo esc(_('Username:'))?></label>
    </td>
    <td><?php echo esc($posting->get_username())?></td>
  </tr>
  <tr>
    <td>
      <label><?php echo esc(_('Subject:'))?></label>
    </td>
    <td><?php echo esc($posting->get_subject())?></td>
  </tr>
  <tr>
    <td>
      <label><?php echo esc(_('Reason:'))?></label>
    </td>
    <td>
      <label id='spam'>
        <input id='spam_checkbox'
               name='spam'
               type='checkbox'
               onclick='change();' />
        <?php echo esc(_('Posting is spam'))?>
      </label>
    </td>
  </tr>
</table>
<textarea id='reason' name='reason' cols='80' rows='10'>
</textarea>

<p>
  <input type="submit"
         name="posting_lock_submit"
         value="<?php echo esc(_('Lock posting'))?>" />
</p>
</div>
</form>
<!-- end posting lock -->
