<!-- thread -->
<table border='0' cellpadding='0' cellspacing='0' width='100%' summary=''>
{if $n_rows > 0}
{foreach item=thread from=$threads}
{foreach item=posting from=$thread->get_postings()}
<!-- thread_row -->
<tr class='posting' valign='middle'>
  <td align='center' class='null'><img src='{$__theme_dir}/img/null.png' width='8' height='23' alt='' /></td>
  <td align='left'>{strip}
  <table border='0' cellspacing='0' cellpadding='0' summary=''>
    <tr>
     <td align='left'>
{*
  $indent:
  1: INDENT_DRAW_DASH
  2: INDENT_DRAW_SPACE
*}
{foreach item=indent from=$posting->get_indent()}
  {if $indent == 1}
     <img src='{$__theme_dir}/img/l.png' width='20' height='23' alt='|' />
  {else}
     <img src='{$__theme_dir}/img/null.png' width='20' height='23' alt='&nbsp;' />
  {/if}
{/foreach}
{*
  $posting->get_relation():
  1: PARENT_WITHOUT_CHILDREN
  2: PARENT_WITH_CHILDREN_UNFOLDED
  3: PARENT_WITH_CHILDREN_FOLDED
  4: BRANCHBOTTOM_CHILD_WITHOUT_CHILDREN
  5: BRANCHBOTTOM_CHILD_WITH_CHILDREN
  6: CHILD_WITHOUT_CHILDREN
  7: CHILD_WITH_CHILDREN
*}
{if $posting->get_relation() == 1}
     <img src='{$__theme_dir}/img/o.png' width='9' height='21' alt='' />
{elseif $posting->get_relation() == 2}
     <a href='{$posting->get_fold_url_string()|escape}'><img src='{$__theme_dir}/img/m.png' class='thread_img' width='9' height='21' alt='0' /></a>
{elseif $posting->get_relation() == 3}
     <a href='{$posting->get_fold_url_string()|escape}'><img src='{$__theme_dir}/img/p.png' class='thread_img' width='9' height='21' alt='0' /></a>
{elseif $posting->get_relation() == 4 || $posting->get_relation() == 5}
     <img src='{$__theme_dir}/img/e.png' width='20' height='23' alt='`-' />
{elseif $posting->get_relation() == 6 || $posting->get_relation() == 7}
     <img src='{$__theme_dir}/img/x.png' width='20' height='23' alt='|-' />
{/if}
     </td>
     <td align='left'>
{if $posting->get_priority() > 0}
     &nbsp;<img src='{$__theme_dir}/img/sticky.png' width="16" height="16" alt='!' />
{/if}
{if $posting->is_selected()}
     &nbsp;<span class='selected'>{$posting->get_subject()|escape}</span>
{elseif !$posting->is_active()}
     &nbsp;{$posting->get_subject()|escape}
{else}
     &nbsp;{$posting->get_url_html()}
{/if}
{if $posting->get_relation() == 3}&nbsp;({$posting->get_n_children()}){/if}
{if $posting->was_moved()}{strip}
  &nbsp;<img src="{$__theme_dir}/img/move.png" alt="" title="{t}Moved{/t}" />
{/strip}{/if}
     </td>
    </tr>
   </table>
  </td>
{/strip}
  <td><img src='{$__theme_dir}/img/null.png' width='8' height='23' alt='' /></td>
  <td align='left'>
{if $posting->is_selected()}
    &nbsp;<span class='selected'>{$posting->get_username()|escape}</span>
{else}
    &nbsp;{$posting->get_username()|escape}
{/if}
{if $posting->get_user_is_special()}
    <img src="{$posting->get_user_icon()|escape}"
         alt=""
         title="{$posting->get_user_icon_name()|escape}" />
{/if}
  </td>
{if $posting->is_selected()}
   <td align='right' class='nowrap'>
    <span class='selected'>{$posting->get_created_time()}</span>
   </td>
{elseif $posting->is_new()}
   <td align='right' class='nowrap'>
    <span style='color:#{$posting->get_newness_hex()}0000'>{$posting->get_created_time()}</span>
   </td>
{else}
   <td align='right' class='nowrap'>{$posting->get_created_time()}</td>
{/if}
   <td align='center' class='null'><img src='{$__theme_dir}/img/null.png' width='8' height='23' alt='' /></td>
 </tr>
<!-- end thread_row -->
{/foreach}
{/foreach}
{else}
<tr>
  <td align='center'>
    <div id='empty_forum_message'>{t}(No postings found){/t}</div>
  </td>
</tr>
{/if}
</table>
<!-- end thread -->
