<?php
	function posting_rating_to_css($rating) {
		$ret = "";
		if(!is_null($rating)) {
			$tooltip = ($rating - 50)*2;
			$ret .= '<div class="rating_box" title="' . $tooltip .'%">';
			$rating = round($rating, -1);
			$ret .= '<div class="rating_' . $rating . '"></div>';
			$ret .= '</div>';
		}

		return $ret;
	}
?>
<!-- thread -->
<table id='thread_view' summary=''>
<?php
  if ($n_rows > 0) {
    foreach ($threads as $thread) {
      foreach ($thread->get_postings() as $posting) {
        $selected = $posting->is_selected();
        $relation = $posting->get_relation();

   		$show_rating = $posting->get_rating_count() >= cfg("minimum_rating_count");
?>
<!-- thread_row -->
<tr class='posting'>
  <td class='thread_tree'>
<?php
  $firstIndent = TRUE;
  foreach ($posting->get_indent() as $indent) {
    if ($indent == INDENT_DRAW_DASH)
      echo "<img class='thread_img' src='$__theme_dir/img/l.png' alt='| ' />";
    else {
      if ($firstIndent) {
        echo "<b class='indent'>&#160;</b>";
        $firstIndent = FALSE;
      }
      else
        echo "<b class='spacer'>&#160;</b>";
    }
  }
?>
<?php
  switch ($relation) {
  case POSTING_RELATION_BRANCHEND_STUB:
  case POSTING_RELATION_BRANCHEND:
?><img class='thread_img' src='<?php echo $__theme_dir?>/img/e.png' alt='\_' />
<?php
    break;
  case POSTING_RELATION_CHILD_STUB:
  case POSTING_RELATION_CHILD:
?><img class='thread_img' src='<?php echo $__theme_dir?>/img/x.png' alt='|-' />
<?php
    break;
  case POSTING_RELATION_PARENT_UNFOLDED:
?><a href='<?php echo esc($posting->get_fold_url_string())?>'><img class='thread_state' src='<?php echo $__theme_dir?>/img/m.png' alt='[-]' /></a>
<?php
    break;
  case POSTING_RELATION_PARENT_STUB:
?><img class='thread_state' src='<?php echo $__theme_dir;?>/img/o.png' alt='[o]' />
<?php
    break;
  case POSTING_RELATION_PARENT_FOLDED:
?><a href='<?php echo esc($posting->get_fold_url_string())?>'><img class='thread_state' src='<?php echo $__theme_dir?>/img/p.png' alt='[+]' /></a>
<?php
  }
?>
<?php if ($posting->get_priority() > 0) { ?>
    <img class='icon' src='<?php echo $__theme_dir?>/img/sticky.png' alt='[!]' />
<?php } ?>
<?php if ($selected) { ?>
    <span class='selected'><?php echo esc($posting->get_subject())?></span>
<?php }
  elseif (!$posting->is_active()) {
    if (!$this->api->controller->get_current_group()->may('bypass')) {
      echo esc($posting->get_subject());
    } else {
      echo $posting->get_url_html();
    }
  } else {
      echo $posting->get_url_html();
} ?>
<?php if ($relation == POSTING_RELATION_PARENT_FOLDED) { ?>
  &nbsp;(<?php echo $thread->get_n_children();?>)
<?php } ?>
<?php if ($posting->was_moved()) { ?>
  <img class='icon' src="<?php echo $__theme_dir?>/img/move.png" alt="[m]" title="<?php echo _('Moved')?>" />&nbsp;
<?php } ?>
  </td>
  <td class='posting_rating'>
  <?php if($show_rating): ?>
  	<?php echo posting_rating_to_css($posting->get_rating()) ?>
  <?php endif ?>
  </td>
  <td class='thread_user'>
<?php if ($selected) { ?>
    <span class='selected'><?php echo esc($posting->get_username())?></span>
<?php } else { ?>
	<?php echo esc($posting->get_username())?>
<?php } ?>
<?php if ($posting->get_user_is_special()) { ?>
    <img src='<?php echo esc($posting->get_user_icon())?>'
         alt=''  class='group_icon'
         title='<?php echo esc($posting->get_user_icon_name())?>' />
<?php } ?>
  </td>
  <td class='thread_date'>
<?php if ($selected) { ?>
    <span class='selected'><?php echo $posting->get_created_time();?></span>
<?php } elseif ($posting->is_updated()) { ?>
    <span style='color:#<?php echo $posting->get_updated_newness_hex()?>0000'>
      <span class="edit_marker" title="<?php echo _('Edited')?>">*</span>&#160;
      <?php echo $posting->get_updated_time();?>
    </span>
<?php } elseif ($posting->is_new()) { ?>
    <span style='color:#<?php echo $posting->get_newness_hex()?>0000'>
      <?php echo $posting->get_created_time();?>
    </span>
<?php } else { ?>
  <?php echo $posting->get_created_time()?>
<?php } ?>
  </td>
 </tr>
<!-- end thread_row -->
<?php
      }
    }
  } else {
?>
<tr>
  <td align='center'>
    <div id='empty_forum_message'><?php echo _('(No postings found)')?></div>
  </td>
</tr>
<?php } ?>
</table>
<!-- end thread -->
