<!-- thread -->
<table border='0' cellpadding='0' cellspacing='0' width='100%' summary=''>
<?php
  if ($n_rows > 0) {
    foreach ($threads as $thread) {
      foreach ($thread->get_postings() as $posting) {
?>
<!-- thread_row -->
<tr class='posting' valign='middle'>
  <td align='center' class='null'><img src='<?=$__theme_dir?>/img/null.png' width='8' height='23' alt='' /></td>
  <td align='left'>
  <table border='0' cellspacing='0' cellpadding='0' summary=''>
    <tr>
     <td align='left'>
<?php
  foreach ($posting->get_indent() as $indent) {
    if ($indent == INDENT_DRAW_DASH)
     echo "<img src='$__theme_dir/img/l.png' width='20' height='23' alt='|' />";
    else
     echo "<img src='$__theme_dir/img/null.png' width='20' height='23' alt='&nbsp;' />";
  }
?>
<?php
  switch ($posting->get_relation()) {
  case POSTING_RELATION_PARENT_STUB:
?><img src='<?=$__theme_dir;?>/img/o.png' width='9' height='21' alt='' />
<?php
    break;
  case POSTING_RELATION_PARENT_UNFOLDED:
?><a href='<?=esc($posting->get_fold_url_string())?>'><img src='<?=$__theme_dir?>/img/m.png' class='thread_img' width='9' height='21' alt='0' /></a>
<?php
    break;
  case POSTING_RELATION_PARENT_FOLDED:
?><a href='<?=esc($posting->get_fold_url_string())?>'><img src='<?=$__theme_dir?>/img/p.png' class='thread_img' width='9' height='21' alt='0' /></a>
<?php
    break;
  case POSTING_RELATION_BRANCHEND_STUB:
  case POSTING_RELATION_BRANCHEND:
?><img src='<?=$__theme_dir?>/img/e.png' width='20' height='23' alt='`-' />
<?php
    break;
  case POSTING_RELATION_CHILD_STUB:
  case POSTING_RELATION_CHILD:
?><img src='<?=$__theme_dir?>/img/x.png' width='20' height='23' alt='|-' />
<?php
  }
?>
     </td>
     <td align='left'>
<?php if ($posting->get_priority() > 0) { ?>
     &nbsp;<img src='<?=$__theme_dir?>/img/sticky.png' width="16" height="16" alt='!' />
<?php } ?>
<?php if ($posting->is_selected()) { ?>
     &nbsp;<span class='selected'><?=esc($posting->get_subject())?></span>
<?php } elseif (!$posting->is_active()) { ?>
     &nbsp;<?=esc($posting->get_subject())?>
<?php } else { ?>
     &nbsp;<?=$posting->get_read_url()->get_html()?>
<?php } ?>
<?php if ($posting->get_relation() == POSTING_RELATION_PARENT_FOLDED) { ?>
  &nbsp;(<?=$thread->get_n_children();?>)
<?php } ?>
<?php if ($posting->was_moved()) { ?>
  &nbsp;<img src="<?=$__theme_dir?>/img/move.png" alt="" title="<?=_('Moved')?>" />
<?php } ?>
     </td>
    </tr>
   </table>
  </td>
  <td><img src='<?=$__theme_dir?>/img/null.png' width='8' height='23' alt='' /></td>
  <td align='left'>
<?php if ($posting->is_selected()) { ?>
    &nbsp;<span class='selected'><?=esc($posting->get_username())?></span>
<?php } else { ?>
    &nbsp;<?=esc($posting->get_username())?>
<?php } ?>
<?php if ($posting->get_user_is_special()) { ?>
    <img src="<?=esc($posting->get_user_icon())?>"
         alt=""
         title="<?=esc($posting->get_user_icon_name())?>" />
<?php } ?>
  </td>
<?php if ($posting->is_selected()) { ?>
   <td align='right' class='nowrap'>
    <span class='selected'><?=$posting->get_created_time();?></span>
  </td>
<?php } elseif ($posting->is_updated()) { ?>
  <td class='thread_date'>
    <span style='color:#<?=$posting->get_updated_newness_hex()?>0000'>
      <span class="edit_marker" title="<?=_('Edited')?>">*</span>
      <?=$posting->get_updated_time();?>
    </span>
  </td>
<?php } elseif ($posting->is_new()) { ?>
  <td class='thread_date'>
    <span style='color:#<?=$posting->get_newness_hex()?>0000'>
      <?=$posting->get_created_time();?>
    </span>
  </td>
<?php } else { ?>
   <td class='thread_date'><?=$posting->get_created_time()?></td>
<?php } ?>
   <td align='center' class='null'><img src='<?=$__theme_dir?>/img/null.png' width='8' height='23' alt='' /></td>
 </tr>
<!-- end thread_row -->
<?php
      }
    }
  } else {
?>
<tr>
  <td align='center'>
    <div id='empty_forum_message'><?=_('(No postings found)')?></div>
  </td>
</tr>
<?php } ?>
</table>
<!-- end thread -->
