<!-- user profile -->
<h2>
  {t 1=$user->get_name()}Profile of %1{/t}
{if $may_edit}
  {$user->get_editor_url_html()}
{/if}
</h2>
{include file="error.inc.tmpl"}

<table summary=''>
  <tr>
    <td>{t}User group:{/t}</td>
    <td>
      <a href="{$group->get_profile_url_string()|escape}">{$group->get_name()|escape}</a>
      <img src="{$group->get_icon()}" title="{$group->get_name()|escape}" alt="" />
    </td>
  </tr>
  <tr>
    <td>{t}User ID:{/t}</td>
    <td>{$user->get_id()|escape}</td>
  </tr>
  <tr>
    <td>{t}Username:{/t}</td>
    <td>{$user->get_name()|escape}</td>
  </tr>
  <tr>
    <td>{t}Account status:{/t}</td>
    <td>{$user->get_status_name()|escape}</td>
  </tr>
  <tr>
    <td>{t}Member since:{/t}</td>
    <td>{$user->get_created_time()|escape}</td>
  </tr>
  <tr>
    <td>{t}Forum postings:{/t}</td>
    <td>{$user->get_postings_url_html($n_postings)}</td>
  </tr>
  <tr>
    <td>{t}Email:{/t}</td>
{if $user->mail_is_public()}
    <td>{$user->get_mail()|escape}</td>
{else}
    <td><i>{t}Not public{/t}</i></td>
{/if}
  </tr>
  <tr>
    <td>{t}Homepage:{/t}</td>
    <td>
{if $user->get_homepage()}
      <a href="{$user->get_homepage()|escape}">{$user->get_homepage()|escape}</a>
{else}
      <i>{t}None{/t}</i>
{/if}
    </td>
  </tr>
  <tr>
    <td>{t}Instant messenger:{/t}</td>
    <td>
{if $user->get_im()}
      {$user->get_im()|escape}
{else}
      <i>{t}None{/t}</i>
{/if}
    </td>
  </tr>
</table>
<!-- end user profile -->
