<!-- user list -->
<table class='user_list' border='0' cellpadding='0' cellspacing='0' summary=''>
{if $n_rows > 0}
{foreach item=user from=$users}
<tr>
  <td align='center' class='null'><img src='{$__theme_dir}/img/null.png' width='8' height='23' alt='' /></td>
  <td align='left'>
  <a href='{$user->get_profile_url_string()|escape}'>{$user->get_name()|escape}</a>
{if $group}
  <img src='{$group->get_icon()|escape}' title='{$group->get_name()|escape}' alt='' />
{/if}
  </td>
  <td>&nbsp;</td>
  <td align='left' class='nowrap'>{$user->get_status_name()}</td>
  <td>&nbsp;</td>
  <td align='right' class='nowrap'>
  {t 1=$user->get_created_time()}Member since: %1{/t}
  </td>
</tr>
{/foreach}
{else}
<tr>
  <td align='center'>
    <div id='empty_user_list_message'>{t}(No users found){/t}</div>
  </td>
</tr>
{/if}
</table>
<!-- end user list -->
