<!-- user options -->
<h2>{t}User Options{/t}</h2>
{include file="error.inc.tmpl"}

<form action="{$action|escape}" method="post" accept-charset="utf-8">
<div>

<p>
  <label>{t}Username:{/t}</label><br />
  <input type="text"
         name="username"
         size="20"
         value="{$user->get_name()|escape}" />
</p>

</div>
</form>
<!-- end user options -->
