<!-- view bar -->
{if $view_links->length() > 0}
<ul id="views">
{foreach name=loop item=item from=$view_links->get_items()}
  {if $item->is_separator()}
    <li>|</li>
  {elseif $item->is_html()}
    {$item->get_html()}
  {elseif !$item->is_link()}
    <li>{$item->get_text()|escape|replace:" ":"&nbsp;"}</li>
  {else}
    <li>{$item->get_url_html()}</li>
  {/if}
{/foreach}
</ul>
{/if}
<!-- end view bar -->
