<!-- poll form -->
<h2><?php echo esc(_('Start a Poll'))?></h2>
<?php require "$template_dir/error.inc.php.tmpl" ?>

<form action='<?php echo esc($action)?>' method='post' accept-charset='utf-8'>
<div>
<input type='hidden' name='action'    value='poll_submit' />
<input type='hidden' name='forum_id'  value='<?php echo $poll->get_forum_id()?>' />
<input type='hidden' name='n_options' value='<?php echo $poll->n_options()?>' />

<p>
  <label><?php echo esc(_('Poll title:'))?>
  <i><?php echo esc(_('(required)'))?></i><br />
  <input type='text' size='<?php echo cfg('max_subjectlength') ?>'
        name='poll_title' maxlength='<?php echo cfg('max_subjectlength') ?>'
        value='<?php echo esc($poll->get_title())?>' /></label><br/>
  <label><?php echo esc(_('Allow for checking multiple boxes:'))?>
  <input type='checkbox' name="allow_multiple"
        <?php if ($poll->get_allow_multiple()) { ?>checked='checked'<?php } ?>
  /></label>
</p>

<p>
  <label class='normal'><?php echo esc(_('Description: (optional)'))?><br />
  <textarea id='description' cols='70' rows='8'
    name='poll_desc'><?php echo esc($poll->get_body()) ?></textarea>
  </label><br/>
</p>

<?php $i = 0; foreach ($poll->get_options() as $option) { ?>
<p>
  <label><?php echo esc(sprintf(_('Option %d:'), $i + 1))?><br />
  <input type='text' name='poll_option<?php echo $i++ ?>'
        size='<?php echo cfg('max_subjectlength') ?>'
        maxlength='<?php echo cfg('max_subjectlength') ?>'
        value='<?php echo esc($option)?>' /></label><br />
</p>
<?php } ?>

<p>
  <input type='submit' name='add_row' value='<?php echo esc(_('Add Another Option'))?>' />
  <input type='submit' name='send' value='<?php echo esc(_('Submit Poll'))?>' />
</p>
</div>
</form>
<!-- end poll form -->
