<!-- poll -->
{if $hint}
<span class='hint'>{$hint|escape}</span>
<br />
{/if}

<form action='{$action|escape}' id='voteform' method='POST' accept-charset='utf-8'>
<input type='hidden' name='action'  value='poll_vote' />
<input type='hidden' name='poll_id' value='{$poll->get_id()}' />

{if $poll->get_allow_multiple()}
  {html_checkboxes name=options options=$poll->get_option_map() separator='<br />'}
{else}
  {html_radios name=options options=$poll->get_option_map() separator='<br />'}
{/if}

<br />
<input type='submit' name='send' value='{lang text="poll_vote"}' />
&nbsp;<a href="{$result_url}">{lang text="poll_to_result"}</a>
</form>
<!-- end poll -->
