<!-- poll -->
{include file="error.inc.tmpl"}

<form action='{$action|escape}' id='voteform' method='post' accept-charset='utf-8'>
<div>
<input type='hidden' name='action'  value='poll_vote' />
<input type='hidden' name='poll_id' value='{$poll->get_id()}' />

<div id='poll'>
{if $poll->get_allow_multiple()}
  {html_checkboxes name=options
                   options=$poll->get_option_map()|indent:1
                   separator='<br />'}
{else}
  {html_radios name=options
               options=$poll->get_option_map()|indent:1
               separator='<br />'}
{/if}

<p>
  <input type='submit' name='send' value='{lang text="poll_vote"}' />
  &nbsp;<a href="{$result_url}">{lang text="poll_to_result"}</a>
</p>
</div>
</div>
</form>
<!-- end poll -->
