<!-- install -->
<h2>Creating the database setup.</h2>

<p>Installing required database tables and creating the default installation.</p>

<?php
  $items = $results;
  require "checklist.tmpl";
?>

<hr/>
<?php if ($success) { ?>
<form method='post' action='?step=<?php echo $nextstep?>'>
<input type='hidden' name='db_install' value='passed' />
<p class="right"><input type='submit' value='Continue'/></p>
</form>
<?php } ?>
