<!-- done -->
<h2>Congratulations, the installation is complete.</h2>

<?php
  if ($errors) {
    $items = $errors;
    require "checklist.tmpl";
    echo '<hr />';
  }
?>

<p><em>
  Out of security reasons, make sure to delete the installer/ directory now!
</em></p>

<form method='get' action='<?php echo esc($site_url)?>'>
  <hr/>
  <p class="right">
    <input type='submit' value='I have deleted the directory'/>
  </p>
</form>
