<!-- check_requirements -->
<h2>Checking Requirements.</h2>

<p>Checking whether your environment is set up to support Freech.</p>

<?php
  $items = $results;
  require "checklist.tmpl";
?>

<hr/>
<?php if ($success) { ?>
<form method='post' action='?step=<?=$nextstep?>'>
<p class="right"><input type='submit' value='Continue'/></p>
</form>
<?php } ?>
