<!-- checklist -->
<hr />
<table width="100%" cellpadding="0" summary=''>
{foreach item=item from=$items}
  <tr>
    <td>{$item->get_name()|escape}</td>
    <td>&nbsp;</td>
    <td align="right">
{if $item->result}
      <span class="color_ok">Success</span>
{else}
      <span class="color_fail">Failed</span>
{/if}
    </td>
  </tr>
{if $item->hint}
    <tr>
      <td>
        <span class="small">{$item->hint|escape}</span>
      </td>
      <td colspan="2">
      </td>
    </tr>
    <tr>
      <td colspan="3"><br /></td>
    </tr>
{/if}
{/foreach}
</table>
<!-- /checklist -->

