<!-- checklist -->
<hr />
<table width="100%" cellpadding="0" summary=''>
<?php
  foreach ($items as $item) {
?>
  <tr>
    <td><?php echo esc($item->get_name())?></td>
    <td>&nbsp;</td>
    <td align="right">
    <?php if ($item->result) { ?>
      <span class="color_ok">Success</span>
    <?php } else { ?>
      <span class="color_fail">Failed</span>
    <?php } ?>
    </td>
  </tr>
  <?php if ($item->hint) { ?>
  <tr>
    <td>
      <span class="small"><?php echo esc($item->hint)?></span>
    </td>
    <td colspan="2">
    </td>
  </tr>
  <tr>
    <td colspan="3"><br /></td>
  </tr>
  <?php } ?>
<?php } ?>
</table>
<!-- /checklist -->

