<!-- check_requirements -->
<h2>Checking Requirements.</h2>

<p>Checking whether your environment is set up to support Freech.</p>

{include file="checklist.tmpl" items=$results}

<hr/>
{if $success}
<form method='post' action='?step={$nextstep}'>
<p class="right"><input type='submit' value='Continue'/></p>
</form>
{/if}
