<!-- database_setup -->
<h2>Database Setup.</h2>

<p>Please enter your database settings.</p>

{if $errors}
  {include file="checklist.tmpl" items=$errors}
  <hr />
{/if}

<form method='post' action='?step={$nextstep}'>
<table summary=''>
  <tr>
    <td>Hostname:</td>
    <td>
      <input type="text" name="db_host" value="{$db_host}" />
    </td>
  </tr>
  <tr>
    <td>User:</td>
    <td>
      <input type="text" name="db_user" value="{$db_user}" />
    </td>
  </tr>
  <tr>
    <td>Password:</td>
    <td>
      <input type="password" name="db_password" value="{$db_password}" />
    </td>
  </tr>
  <tr>
    <td>Database:</td>
    <td>
      <input type="text" name="db_name" value="{$db_name}" />
    </td>
  </tr>
</table>

<hr/>
<p class="right"><input type='submit' value='Continue'/></p>

</form>
