<h2>Database Setup.</h2>

{include file="checklist.tmpl" items=$errors}

{if $errors}
<p/>
{/if}

Please enter your database settings.

<p/>
<form method='post' action='?step={$nextstep}'>
<table width='100%'>
  <tr>
    <td>Hostname:</td>
    <td>&nbsp;</td>
    <td width='100%'>
      <input type="text" name="db_host" value="{$db_host}" />
    </td>
  </tr>
  <tr>
    <td>User:</td>
    <td>&nbsp;</td>
    <td width='100%'>
      <input type="text" name="db_user" value="{$db_user}" />
    </td>
  </tr>
  <tr>
    <td>Password:</td>
    <td>&nbsp;</td>
    <td width='100%'>
      <input type="password" name="db_password" value="{$db_password}" />
    </td>
  </tr>
  <tr>
    <td>Database:</td>
    <td>&nbsp;</td>
    <td width='100%'>
      <input type="text" name="db_name" value="{$db_name}" />
    </td>
  </tr>
</table>

<hr/>
<table width='100%'>
  <tr>
    <td width='100%'></td>
    <td><input type='submit' value='Continue'/></td>
  </tr>
</table>
</form>
