<!-- default_setup -->
<h2>Activating The Admin User.</h2>

<p>Please enter a password for your administrator account.</p>

<?php
  if ($errors) {
    $items = $errors;
    require "checklist.tmpl";
    echo '<hr />';
  }
?>

<form method='post' action='?step=<?=$nextstep?>' summary=''>
<table>
  <tr>
    <td>Username:</td>
    <td>
      <input type="text" name="username" value="<?=esc($username)?>" />
    </td>
  </tr>
  <tr>
    <td>Password:</td>
    <td>
      <input type="password" name="password1" />
    </td>
  </tr>
  <tr>
    <td>Repeat:</td>
    <td>
      <input type="password" name="password2" />
    </td>
  </tr>
</table>

<hr/>
<p class="right"><input type='submit' value='Continue'/></p>

</form>
