<!-- done -->
<h2>Congratulations, the installation is complete.</h2>

<p>
  <em>
  Out of security reasons, make sure to delete the installer/ directory now!
  </em>
</p>

<form method='get' action='{$site_url|escape}'>
  <hr/>
  <p class="right">
    <input type='submit' value='I have deleted the directory'/>
  </p>
</form>
