<h2>Congratulations, the installation is complete.</h2>

<font color='red'>Out of security reasons, make sure to delete the
installer/ directory now!</font>

<p/>
<form method='get' action='{$site_url|escape}'>

<hr/>
<table width='100%'>
  <tr>
    <td width='100%'></td>
    <td><input type='submit' value='I have deleted the directory'/></td>
  </tr>
</table>
</form>
