<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- header -->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <link rel="stylesheet" type="text/css" href="../themes/heise/style.css" />
  <link rel="stylesheet" type="text/css" href="style.css" />
  <title>Freech Installer</title>
</head>
<body>
<body <?php if ($onload_js) { ?>onload="<?=esc($onload_js)?>"<?php } ?>>
<div id='header'>
  <div id='header1'>
    <a href='.'><img id='logo' src='../themes/heise/img/logo.png' alt='' /></a>
  </div>

  <div id='header2'>
    <a href='.'><span id='title'>Freech Installer</span></a>
  </div>
</div>
<div id='center'>
  <div id='main'>
<!-- /header -->
