<!-- install -->
<h2>Creating the database setup.</h2>

Installing required database tables and creating the default installation.

<?php
  $items = $results;
  require "checklist.tmpl";
?>

<hr/>
<?php if ($success) { ?>
<form method='post' action='?step=<?=$nextstep?>'>
<p class="right"><input type='submit' value='Continue'/></p>
</form>
<?php } ?>
