<h2>Creating the database setup.</h2>

Installing required database tables and creating the default installation.

{include file="checklist.tmpl" items=$results}

<hr/>
{if $success}
<form method='post' action='?step={$nextstep}'>
<table width='100%'>
  <tr>
    <td width='100%'></td>
    <td><input type='submit' value='Continue'/></td>
  </tr>
</table>
</form>
{/if}

