<!-- install -->
<h2>Creating the database setup.</h2>

Installing required database tables and creating the default installation.

{include file="checklist.tmpl" items=$results}

<hr/>
{if $success}
<form method='post' action='?step={$nextstep}'>
<p class="right"><input type='submit' value='Continue'/></p>
</form>
{/if}
