<!-- welcome -->
<h2>Welcome to the Freech Forum installation!</h2>

<p>You are about to begin the installation. Please click the button to start.</p>

<hr/>
<form method='post' action='?step={$nextstep}' class='no_border'>
<p class="right"><input type='submit' value='Install Freech'/></p>
</form>
