<!-- footer -->
<table width='100%' cellspacing='0' cellpadding='5' border='0'>
 <tr>
  <td align='left'>
  <font size='-1'>
  {$order_by_thread}&nbsp;&nbsp;&nbsp;{$order_by_time}
  </font>
  </td>
  <td align='right'>
  <font size='-2'>
  {$version}
  </font>
  </td>
 </tr>
</table>
<!-- end footer -->
