<p>{lang text="havetoregister"|escape} <a href="{$register|escape}">{lang text="register_title"|escape}</a></p>
<p>
<span style="color:red;">{$hint}</span>
<form action='{$action|escape}' method='post' accept-charset='utf-8'>
  <div align="center">
    <table border="0" cellpadding="2">
      <tr>
        <td bgcolor="#CCCCCC">&nbsp;</td>
        <td bgcolor="#CCCCCC"><b>{lang text="enteruserdata"|escape}</b></td>
      </tr>
      <tr>
        <td align="right" valign="middle" bgcolor="#CCCCCC">{lang text="username"|escape}</td>
        <td bgcolor="#CCCCCC">
          <input type="text" name="username" size="20">
        </td>
      </tr>
      <tr>
        <td align="right" valign="middle" bgcolor="#CCCCCC">{lang text="passwd"|escape}</td>
        <td bgcolor="#CCCCCC">
          <input type="password" name="password" size="20">
        </td>
      </tr>
      <tr>
        <td align="right" valign="middle" bgcolor="#CCCCCC">{lang text="rememberpasswd"|escape}</td>
        <td bgcolor="#CCCCCC">
          <font size="2">{lang text="remembpasswdlong"|escape}<br /></font>
          <input type="checkbox" name="permanent" value="true"><br>
        </td>
      </tr>
      <tr>
        <td align="right" valign="top" bgcolor="#CCCCCC">&nbsp;</td>
        <td bgcolor="#CCCCCC"><input type=submit value='{lang text="login"|escape}'></td>
      </tr>
    </table>
  </div>
</form>
