<h2>{lang text="register_complete"|escape}</h2>
<p>{$register_complete_long|escape}</p>
<form method="post" action="{$action}">
<input type="hidden" name="user" value="{$user}">
<input type="hidden" name="key" value="{$secret}">
<p>
	<b>
		{lang text="passwd"|escape}:
	</b>
	<br>
	<input type="password" name="passwd1" size="42">
</p>
<p>
	<input type="submit" value="{lang text="register_confirm"|escape}">
</p>
</form>