<p>
<h2>{lang text="register_title"|escape}</h2>
{lang text="register_welcome"|escape}

<p>{lang text="register_privacy"|escape}</p>

<p><span style="color:red;">{if $hint != ""}{$hint}{/if}</span></p>

<p>
<form action='{$action|escape}' method='post' accept-charset='utf-8'>

<p>
<b>{lang text="register_nick"|escape}</b><br/>
<input type="text" name="acc_nick" size="20" value="{if $nick != ""}{$nick}{/if}"><br/>
<span style="font-size:80%;">{lang text="register_nick_l"|escape}</span></p>

<p>
<b>{lang text="register_fullname"|escape}</b><br/>
<input type="text" name="acc_firstname" size="20" value="{if $firstname != ""}{$firstname}{/if}">
<input type="text" name="acc_lastname" size="20" value="{if $lastname != ""}{$lastname}{/if}"><br/>
<span style="font-size:80%;">{lang text="register_fullname_l"|escape}</span></p>

<p>
<b>{lang text="register_mail"|escape}</b><br/>
<input type="text" name="acc_mail" size="42" value="{if $mail != ""}{$mail}{/if}"><br/>
<span style="font-size:80%;">{lang text="register_mail_l"|escape}</span></p>

<p>
<b>{lang text="passwd"|escape}</b><br>
<input type="password" value="{$passwd1}" name="passwd1" size="42"><br>
<span style="font-size:80%;">{lang text="register_pw"|escape}</span></p>
    
<p><b>{lang text="register_confirm_pw"|escape}</b><br>
<input type="password" value="{$passwd2}" name="passwd2" size="42"></p>

<p>
<b>{lang text="register_term_title"|escape}</b><br/>
{lang text="register_term"|escape}</p>

<p>
<input type="submit" name="acc_create" value="{lang text="register_agree"|escape}"> 
&nbsp;&nbsp;
<input type="submit" name="acc_cancel" value="{lang text="register_disagree"|escape}"></p>
</form>
</p>