<!-- statistics -->
<h2><?php echo esc(_('Statistics'))?></h2>
<h3><?php echo esc(sprintf(_('Postings and traffic of the last %s days'), $days))?></h3>

<div id="placeholder" style="width:600px;height:300px;"></div>

<!--[if lt IE 9]>
  <script type="text/javascript" src="<?php echo $plugin_dir?>/excanvas.min.js"></script>
<![endif]-->
<script type="text/javascript" src="<?php echo $plugin_dir?>/jquery.min.js"></script>
<script type="text/javascript" src="<?php echo $plugin_dir?>/jquery.flot.min.js"></script>
<script type="text/javascript" src="<?php echo $plugin_dir?>/jquery.flot.crosshair.min.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
function day_formatter(val, axis) {
  var now  = Math.round(new Date().getTime()/1000.0);
  var time = new Date((now - (<?php echo $days?> - val) * <?php echo $resolution?>) * 1000);
  return time.getDate() + "." + (time.getMonth() + 1) + ".";
}

function traffic_formatter(val, axis) {
  return Math.round(val*10/10) + " MB";
}

$(function () {
  var postings  = [];
  var postings2 = [];
  var traffic   = [];
<?php foreach ($data as $point) { ?>
      postings.push ([<?php echo $point->pos?>, <?php echo $point->postings?>]);
      postings2.push([<?php echo $point->pos?>, <?php echo $point->postings2?>]);
      traffic.push  ([<?php echo $point->pos?>, <?php echo number_format($point->traffic, 4, ".", ""); ?>]);
<?php } ?>
  $.plot($("#placeholder"),
  [
    { data: postings,  label: "<?php echo esc(_('Postings'))?>" },
<?php if ($show_postings2) { ?>
    { data: postings2, label: "<?php echo esc($postings2_label)?>" },
<?php } ?>
<?php if ($show_traffic) { ?>
    { data: traffic, label: "<?php echo esc(_('Traffic'))?>", yaxis: 2 }
<?php } ?>
  ],
  {
    xaxis: {
      tickFormatter: day_formatter,
      tickSize: <?php echo $days/10?>,
      tickDecimals: 0
    },
    yaxis: {
      autoscaleMargin: .2,
      min: 0
    },
    y2axis: {
      tickFormatter: traffic_formatter,
      autoscaleMargin: .2,
      min: 0
    },
    legend: {
      noColumns: 3
    }
  });
});
//--><!]]>
</script>
<!-- end statistics -->
