<!-- message_compose -->
<h2><?=esc(_('Write a New Message'))?></h2>
<?php require "$template_dir/error.inc.php.tmpl" ?>

<form <?php if ($onsubmit_js) { ?>onsubmit="<?=$onsubmit_js?>"<?php } ?>
      action='<?=esc($action)?>'
      id='commentform'
      method='post'
      accept-charset='utf-8'>
<div>
<?php if ($form_html) { ?><?=$form_html?><?php } ?>
<input type='hidden' name='action'    value='message_submit' />
<input type='hidden' name='parent_id' value='<?=$parent_id?>' />
<input type='hidden' name='msg_id'    value='<?=$message->get_id()?>' />
<input type='hidden' name='may_quote' value='<?=esc($may_quote)?>' />
<?php if ($__user->is_anonymous()) { ?>
<p>
  <label><?=esc(_('Username:'))?></label>
  <i><?=esc(_('(required)'))?></i><br />
  <input type='text'
         size='80'
         name='username'
         value='<?=esc($message->get_username())?>'
         maxlength='<?=$max_usernamelength?>' />
</p>
<?php } else { ?>
  <input type='hidden' name='username' value='<?=esc($__user->get_name())?>' />
<?php } ?>

<p>
  <label><?=esc(_('Subject:'))?></label>
  <i><?=esc(_('(required)'))?></i><br />
  <input type='text'
         size='80'
         name='subject'
         value='<?=esc($message->get_subject())?>'
         maxlength='<?=$max_subjectlength?>' />
</p>

<p>
  <label><?=esc(_('Message:'))?></label>
  <i><?=esc(_('(required)'))?></i><br />
  
  <textarea name='body' cols='90' rows='20'><?=esc($message->get_body())?></textarea>
  
</p>

<p>
<?php if ($may_quote) { ?>
  <input type='submit' name='quote' value='<?=esc(_('Quote Message'))?>' />&nbsp;
<?php } ?>
  <input type='submit' name='preview' value='<?=esc(_('Preview'))?>' />&nbsp;
  <input type='submit' name='send' value='<?=esc(_('Send Message'))?>' />
</p>
</div>
</form>
<!-- end message_compose -->
