<!-- message_compose -->
<h2>{lang text="writeamessage"}</h2>
{include file="error.inc.tmpl"}

<form action='{$action|escape}' id='commentform' method='post' accept-charset='utf-8'>
<div>
<input type='hidden' name='action'    value='message_submit' />
<input type='hidden' name='parent_id' value='{$parent_id}' />
<input type='hidden' name='msg_id'    value='{$message->get_id()}' />
<input type='hidden' name='may_quote' value='{$may_quote|escape}' />
{if $__user->is_anonymous()}
<p>
  <label>{lang text="name"}</label>
  <i>{lang text="required"}</i><br />
  <input type='text'
         size='80'
         name='username'
         value='{$message->get_username()|escape}'
         maxlength='{$max_usernamelength}' />
</p>
{else}
  <input type='hidden' name='username' value='{$__user->get_name()|escape}' />
{/if}

<p>
  <label>{lang text="msgtitle"}</label>
  <i>{lang text="required"}</i><br />
  <input type='text'
         size='80'
         name='subject'
         value='{$message->get_subject()|escape}'
         maxlength='{$max_subjectlength}' />
</p>

<p>
  <label>{lang text="msgbody"}</label>
  <i>{lang text="required"}</i><br />
  {strip}
  <textarea name='body' cols='120' rows='20'>
  {$message->get_body()|escape}
  </textarea>
  {/strip}
</p>

<p>
{if $may_quote}
  <input type='submit' name='quote' value='{lang text="quote"}' />&nbsp;
{/if}
  <input type='submit' name='preview' value='{lang text="preview"}' />&nbsp;
  <input type='submit' name='send' value='{lang text="send"}' />
</p>
</div>
</form>
<!-- end message_compose -->
