<!-- message_compose -->
<h2>{t}Write a New Message{/t}</h2>
{include file="error.inc.tmpl"}

<form {if $onsubmit_js}onsubmit="{$onsubmit_js}"{/if}
      action='{$action|escape}'
      id='commentform'
      method='post'
      accept-charset='utf-8'>
<div>
{if $form_html}{$form_html}{/if}
<input type='hidden' name='action'    value='message_submit' />
<input type='hidden' name='parent_id' value='{$parent_id}' />
<input type='hidden' name='msg_id'    value='{$message->get_id()}' />
<input type='hidden' name='may_quote' value='{$may_quote|escape}' />
{if $__user->is_anonymous()}
<p>
  <label>{t}Username:{/t}</label>
  <i>{t}(required){/t}</i><br />
  <input type='text'
         size='80'
         name='username'
         value='{$message->get_username()|escape}'
         maxlength='{$max_usernamelength}' />
</p>
{else}
  <input type='hidden' name='username' value='{$__user->get_name()|escape}' />
{/if}

<p>
  <label>{t}Subject:{/t}</label>
  <i>{t}(required){/t}</i><br />
  <input type='text'
         size='80'
         name='subject'
         value='{$message->get_subject()|escape}'
         maxlength='{$max_subjectlength}' />
</p>

<p>
  <label>{t}Message:{/t}</label>
  <i>{t}(required){/t}</i><br />
  {strip}
  <textarea name='body' cols='90' rows='20'>
  {$message->get_body()|escape}
  </textarea>
  {/strip}
</p>

<p>
{if $may_quote}
  <input type='submit' name='quote' value='{t}Quote Message{/t}' />&nbsp;
{/if}
  <input type='submit' name='preview' value='{t}Preview{/t}' />&nbsp;
  <input type='submit' name='send' value='{t}Send Message{/t}' />
</p>
</div>
</form>
<!-- end message_compose -->
