<!-- preview -->
<h2>{$pagetitle}</h2>
{include file="error.inc.tmpl"}

{include file="posting.tmpl" posting=$message}

<form action='{$action|escape}' id='commentform' method='post' accept-charset='utf-8'>
<div>
<input type='hidden' name='action'    value='message_submit' />
<input type='hidden' name='parent_id' value='{$parent_id}' />
<input type='hidden' name='msg_id'    value='{$message->get_id()}' />
<input type='hidden' name='may_quote' value='{$may_quote|escape}' />
<input type='hidden' name='username'  value='{$message->get_username()|escape}' />
<input type='hidden' name='subject'   value='{$message->get_subject()|escape}' />
<input type='hidden' name='body'      value='{$message->get_body()|escape}' />
<input type='submit' name='edit'      value='{t}Edit Message{/t}' />
<input type='submit' name='send'      value='{t}Send Message{/t}' />
</div>
</form>
<!-- end preview -->
