<!-- preview -->
<h2><?php echo $pagetitle?></h2>
<?php
  require "$template_dir/error.inc.php.tmpl";
  $posting = $message;
  require "$template_dir/posting.php.tmpl";
?>

<form <?php if ($onsubmit_js) { ?>onsubmit="<?php echo $onsubmit_js?>"<?php } ?>
      action='<?php echo esc($action)?>'
      id='commentform'
      method='post'
      accept-charset='utf-8'>
<div>
<?php if ($form_html) { ?><?php echo $form_html?><?php } ?>
<input type='hidden' name='action'    value='message_submit' />
<input type='hidden' name='parent_id' value='<?php echo $parent_id?>' />
<input type='hidden' name='msg_id'    value='<?php echo $message->get_id()?>' />
<input type='hidden' name='may_quote' value='<?php echo esc($may_quote)?>' />
<input type='hidden' name='username'  value='<?php echo esc($message->get_username())?>' />
<input type='hidden' name='subject'   value='<?php echo esc($message->get_subject())?>' />
<input type='hidden' name='body'      value='<?php echo esc($message->get_body())?>' />
<input type='submit' name='edit'      value='<?php echo esc(_('Edit Message'))?>' />
<input type='submit' name='send'      value='<?php echo esc(_('Send Message'))?>' />
</div>
</form>
<!-- end preview -->
