<!-- latest_row -->
<tr valign='middle' bgcolor='#ffffff'>
  <td align='center' width=8><img src='themes/sleek/img/null.png' width=8 height=23 alt='' /></td>
  <td align='left'>{strip}
{if $row->url == ""}
  <font size='-1'>&nbsp;{$row->title}</font>
{else}
  <font size='-1'>&nbsp;<a href='{$row->url}'>{$row->title}</a></font>
{/if}
  </td>
{/strip}
  <td><img src='themes/sleek/img/null.png' width=8 height=23 alt='' /></td>
{if $row->selected == 1}
  <td align='left'><font size='-1' color='green'>{$row->name}</font></td>
{else}
  <td align='left'><font size='-1'>{$row->name}</font></td>
{/if}
{if $row->selected == 1}
  <td align='right' nowrap><font size='-1' color='green'>{$row->time}</font></td>
{elseif $row->new}
  <td align='right' nowrap><font size='-1' color='red'>{$row->time}</font></td>
{else}
  <td align='right' nowrap><font size='-1'>{$row->time}</font></td>
{/if}
  <td align='center' width=8><img src='themes/sleek/img/null.png' width=8 height=23 alt='' /></td>
 </tr>
<!-- end latest_row -->
