<!-- latest_row -->
<tr valign='middle' bgcolor='#ffffff'>
  <td align='center' width=8><img src='themes/sleek/img/null.png' width=8 height=23 alt='' /></td>
  <td align='left'>{strip}
{if $message->url == ""}
  &nbsp;{$message->get_subject()|escape}</font>
{else}
  &nbsp;<a href='{$message->url|escape}'>{$message->get_subject()|escape}</a>
{/if}
  </td>
{/strip}
  <td><img src='themes/sleek/img/null.png' width=8 height=23 alt='' /></td>
{if $message->is_selected()}
  <td align='left'><font color='green'>{$message->get_username()|escape}</font></td>
{else}
  <td align='left'>{$message->get_username()|escape}</td>
{/if}
{if $message->is_selected()}
  <td align='right' nowrap><font color='green'>{$message->get_created_time()}</font></td>
{elseif $message->is_new()}
  <td align='right' nowrap><font color='red'>{$message->get_created_time()}</font></td>
{else}
  <td align='right' nowrap>{$message->get_created_time()}</td>
{/if}
  <td align='center' width=8><img src='themes/sleek/img/null.png' width=8 height=23 alt='' /></td>
 </tr>
<!-- end latest_row -->
