<!-- message_created -->
<p>
<h2>{$lang.entrysuccess}</h2><br />
<a href='{$messageurl}'>{$lang.backtoentry}</a><br />
{if $parenturl != ""}<a href='{$parenturl}'>{$lang.backtoparent}</a><br />{/if}
<a href='{$forumurl}'>{$lang.backtoindex}</a>
<!-- end message_created -->
