<!-- thread_index -->
<table class='index' width='100%' cellspacing='0' cellpadding='3' border='0' bgcolor='#003399'>
 <tr>
  <td align='left' height='30'>
  <font color='white'>
{if $preventry.url == ""}
  {$preventry.text}
{else}
  <a href='{$preventry.url}'>{$preventry.text}</a>
{/if}
{$entry}
{if $nextentry.url == ""}
  {$nextentry.text}
{else}
  <a href='{$nextentry.url}'>{$nextentry.text}</a>
{/if}
&nbsp;
{if $nextthread.url == ""}
  {$prevthread.text}
{else}
  <a href='{$nextthread.url}'>{$prevthread.text}</a>
{/if}
{$thread}
{if $prevthread.url == ""}
  {$nextthread.text}
{else}
  <a href='{$prevthread.url}'>{$nextthread.text}</a>
{/if}
{if $answer != ""}
  &nbsp;&nbsp;<a href='{$answer.url}'>{$answer.text}</a>
{/if}
  &nbsp;&nbsp;<a href='{$new_thread.url}'>{$new_thread.text}</a>
{if $togglethread != ""}
  &nbsp;&nbsp;<a href='{$togglethread.url}'>{$togglethread.text}</a>
{/if}
  </font>
  </td>
 </tr>
</table>
<!-- end thread_index -->
