<!-- navbar -->
<table width='100%' cellspacing='0' cellpadding='5' border='0'>
 <tr>
  <td align='left'>
{$layer1}
{if $layer2 != ""}&nbsp;&gt;&nbsp;{$layer2}{/if}
{if $layer3 != ""}&nbsp;&gt;&nbsp;{$layer3}{/if}
  </td>
 </tr>
</table>
<!-- end navbar -->
