body {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: grey;
}

a:visited {
  color: #444;
}

.highlight {
  border: 1px dashed black;
  background-color: #f2f5ff;
  cursor: hand;
}

.dashed {
  border: 1px dashed black;
}

.introduction {
  color: #777;
}

.index {
  background-color: #3f4d8e;
  color: #FFFFFF;
}

.index a {
  color: #ffffff;
  text-decoration: underline;
}

.index a:visited {
  color: #CCCCCC;
}
