<!-- thread_row -->
{*
  $message->get_relation():
  1: PARENT_WITHOUT_CHILDREN
  2: PARENT_WITH_CHILDREN_UNFOLDED
  3: PARENT_WITH_CHILDREN_FOLDED
  4: BRANCHBOTTOM_CHILD_WITHOUT_CHILDREN
  5: BRANCHBOTTOM_CHILD_WITH_CHILDREN
  6: CHILD_WITHOUT_CHILDREN
  7: CHILD_WITH_CHILDREN
*}
{if $message->get_relation() == 1 || $message->get_relation() == 2 || $message->get_relation() == 3}
<tr><td colspan=7 height='7'></td></tr>
<tr valign='middle'>
  <td align='center' width=8><img src='themes/sleek/img/null.png' width=8 height=23 alt='' /></td>
  <td align='left' colspan=5>
  {if $message->url == "" || $message->is_selected()}
    <table width='100%' height=65 class='dashed' bgcolor='#eceff9' border='0' cellpadding='0' cellspacing='0'>
  {else}
    <table onmouseover="this.className='highlight';"
           onmouseout="this.className='dashed';"
           onclick="document.location.href='{$message->url|escape}';"
           width='100%' height=65 class='dashed' bgcolor='#eceff9' border='0' cellpadding='0' cellspacing='0'>
  {/if}
    <tr>
      <td align='center' width=8><img src='themes/sleek/img/null.png' width=8 height=23 alt='' /></td>
  {if $message->url}
      <td align='left' width=48><img src='themes/sleek/img/avatar_none.png' border=0 width=48 height=48 alt='*' /></td>
  {else}
      <td align='left' width=48><img src='themes/sleek/img/avatar_blocked.png' border=0 width=48 height=48 alt='*' /></td>
  {/if}
      <td align='center' width=8><img src='themes/sleek/img/null.png' width=8 height=23 alt='' /></td>
      <td align='left'>
  {if !$message->url}
      <i>{$message->get_subject()|escape}</i><br />
  {elseif $message->is_selected()}
      <font color='green'>{$message->get_subject()|truncate:65|escape}</font><br />
  {else}
      <a href='{$message->url|escape}'>{$message->get_subject()|truncate:65|escape}<br />
  {/if}
      <font class='introduction' size='-1'>
        {$message->get_body()|regex_replace:"/[\r\n]/":" "|truncate:200:""|truncate:250:" [...]":true|escape}
      </font>
  {if $message->url && !$message->is_selected()}
      </a>
  {/if}
    </td>
    <td><img src='themes/sleek/img/null.png' width=8 height=23 alt='' /></td>
    <td align='right'>
  {if $message->is_selected()}
    <font color='green'>{$lang.postedby|replace:"[USER]":$message->get_username()|escape|replace:" ":"&nbsp;"}</font><br /><br />
    <font size='-1' color='green' nowrap>{$message->get_created_time()}</font>
  {elseif $message->is_new()}
    <font color='red'>{$lang.postedby|replace:"[USER]":$message->get_username()|escape|replace:" ":"&nbsp;"}</font><br /><br />
    <font size='-1' color='red' nowrap>{$message->get_created_time()}</font>
  {else}
    {$lang.postedby|replace:"[USER]":$message->get_username()|escape|replace:" ":"&nbsp;"}<br /><br />
    <font size='-1' nowrap>{$message->get_created_time()}</font>
  {/if}
    </td>
    <td align='center' width=8><img src='themes/sleek/img/null.png' width=8 height=23 alt='' /></td>
  </tr>
  </table>
  </td>
  <td align='center' width=8><img src='themes/sleek/img/null.png' width=8 height=23 alt='' /></td>
</tr>
{*
  Non-parent rows are handled here.
  $indents:
  1: INDENT_DRAW_DASH
  2: INDENT_DRAW_SPACE
*}
{else}
<tr valign='middle' bgcolor='#ffffff'>
  <td align='center' width=8><img src='themes/sleek/img/null.png' width=8 height=23 alt='' /></td>
{strip}
  <td align='left'>
  <table border=0 cellspacing=0 cellpadding=0>
    <tr>
      <td align='left'>
      <img src='themes/sleek/img/null.png' width=20 height=23 alt='&nbsp;' />
  {foreach item=indent from=$message->indent}
    {if $indent == 1}
      <img src='themes/sleek/img/l.png' width=20 height=23 alt='|' />
    {else}
      <img src='themes/sleek/img/null.png' width=20 height=23 alt='&nbsp;' />
    {/if}
  {/foreach}
  {if $message->get_relation() == 4 || $message->get_relation() == 5}
      <img src='themes/sleek/img/e.png' width=20 height=23 alt='`-' />
  {else}
      <img src='themes/sleek/img/x.png' width=20 height=23 alt='|-' />
  {/if}
      </td>
      <td align='center' width=8><img src='themes/sleek/img/null.png' width=8 height=23 alt='' /></td>
  {if !$message->url}
      <td align='left'><i>{$message->get_subject()|truncate:65|escape}</i></td>
  {elseif $message->is_selected()}
      <td align='left'><font color='green'>{$message->get_subject()|truncate:65|escape}</font></td>
  {else}
      <td align='left'><a href='{$message->url|escape}'>{$message->get_subject()|truncate:65|escape}</a></td>
  {/if}
    </tr>
  </table>
  </td>
{/strip}
  <td><img src='themes/sleek/img/null.png' width=8 height=23 alt='' /></td>
  {if $message->is_selected()}
  <td align='left'><font color='green'>{$message->get_username()}</font></td>
  <td align='right' nowrap><font color='green'>{$message->get_created_time()}</font></td>
  {elseif $message->is_new()}
  <td align='left'>{$message->get_username()}</td>
  <td align='right' nowrap><font color='red'>{$message->get_created_time()}</font></td>
  {else}
  <td align='left'>{$message->get_username()}</td>
  <td align='right' nowrap>{$message->get_created_time()}</td>
  {/if}
  <td align='center' width=8><img src='themes/sleek/img/null.png' width=8 height=23 alt='' /></td>
</tr>
{/if}
<!-- end thread_row -->
