<!-- top users -->
<h2>{t}Top Users{/t}</h2>
{include file="error.inc.tmpl"}

<table summary=''>
  <tr>
    <td valign='top'>
    {include file="$plugin_dir/score_list.inc.tmpl"
             type="weekly_top"
             users=$weekly}
    </td>
    <td>&nbsp;</td>
    <td valign='top'>
    {include file="$plugin_dir/score_list.inc.tmpl"
             type="alltime_top"
             users=$all_time}
    </td>
  </tr>
</table>
<!-- end top users -->
