<table cellpadding="40">
  <tr>
    <td valign='top'>
    {include file="$plugin_dir/score_list.inc.tmpl" title="weekly_top" users=$weekly}
    </td>
    <td valign='top'>
    {include file="$plugin_dir/score_list.inc.tmpl" title="alltime_top" users=$all_time}
    </td>
  </tr>
</table>
