<?php
  require "$template_dir/indexbar.php.tmpl";
?>
<br />
<?php
  require "$template_dir/posting.php.tmpl";
  if ($showlist)
    require "$template_dir/latest.php.tmpl";
  require "$template_dir/indexbar.php.tmpl";
?>
