<!-- registration done -->
<h2><?=esc(_('User Registration'))?></h2>
<span class="intro">
  <?=esc(_('Your password was changed. Your registration is complete
 and you may log in.'))?>
</span>
<!-- end registration done -->
