<!-- registration done -->
<h2><?php echo esc(_('User Registration'))?></h2>
<span class="intro">
  <?php echo esc(_('Your password was changed. Your registration is complete
 and you may log in.'))?>
</span>
<!-- end registration done -->
