<!-- registration mail sent -->
<h2><?=esc(_('User Registration'))?></h2>
<span class="intro">
  <?=esc(_('A confirmation mail has been sent to your email address.'))?>
</span>
<!-- end registration mail sent -->
