<!-- registration -->
<h2>{t}User Registration{/t}</h2>
<span class="intro">
  {t}Welcome!

  By registering you will be able to participate in our discussion forum.
  All you need is a valid email address and a few minutes of your time.

  The e-mail address is used only for confirming your registration
  details, and for sending you a password reminder if you ever forget
  yours. None of your personal data is given to any third parties.{/t}
</span>
{include file="error.inc.tmpl"}

<form action='{$action|escape}' id='registration' method='post' accept-charset='utf-8'>
<div>
<input type='hidden' name='action' value='account_create' />

<p>
  <label>{t}Username:{/t}</label><br />
  <input type="text" name="username" size="20" value="{$user->get_name()|escape}" /><br />
  <span class="size80">
    {t}Please select a username. The username is used to log into your account later.{/t}
  </span>
</p>

<p>
  <label>{t}Firstname and Lastname:{/t}</label><br />
  <input type="text" name="firstname" size="20" value="{$user->get_firstname()|escape}" />
  <input type="text" name="lastname" size="20" value="{$user->get_lastname()|escape}" /><br />
  <span class="size80">
    {t}Please enter valid information, your registration is invalid otherwise and may be deleted.{/t}
  </span>
</p>

<p>
  <label>{t}Email Address:{/t}</label><br />
  <input type="text" name="mail" size="42" value="{$user->get_mail()|escape}" />
</p>

<p>
  <label>{t}Public Email:{/t}</label><br />
  <input type="checkbox" name="publicmail" />
  {t}Click here if you want other users to be able to see the address.{/t}
</p>

<p>
  <label>{t}Terms of Usage:{/t}</label><br />
  {t}By clicking Register below you agree that we may store your personal data as stated above.
  You also agree to the terms of use.{/t}
</p>

<p>
  <input type="submit" name="create" value="{t}I Agree, Register{/t}" />
  &nbsp;&nbsp;
  <input type="submit" name="cancel" value="{t}I Do Not Agree, Cancel{/t}" />
</p>
</div>
</form>
<!-- end registration -->
