<?xml version="1.0"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
  <channel>
    <title>{$title|escape}</title>
    <link>{$link|escape}</link>
    <language>{$language|escape}</language>
    <description>{$description|escape}</description>
{foreach from=$postings item=posting}
    <item>
      <title>{$posting->get_subject()|escape}</title>
      <author>{$posting->get_username()|escape}</author>
      <guid>{$posting->get_url_string()|escape}</guid>
      <link>{$posting->get_url_string()|escape}</link>
      <pubDate>{$posting->get_created_unixtime()|date_format:"%a, %d %b %Y %R:%S +0000"}</pubDate>
      <description>{$posting->get_body_html()|escape}</description>
    </item>
{/foreach}
  </channel>
</rss>
