<?xml version="1.0"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
  <channel>
    <title>{$title|escape}</title>
    <link>{$link|escape}</link>
    <language>{$language|escape}</language>
    <description>{$description|escape}</description>
{foreach from=$messages item=message}
    <item>
      <title>{$message->get_subject()|escape}</title>
      <author>{$message->get_username()|escape}</author>
      <guid>{$message->get_url()|escape}</guid>
      <link>{$message->get_url()|escape}</link>
      <description>{$message->get_body_html()|escape}</description>
      <pubDate>{$message->get_created_unixtime()|date_format:"%a, %d %b %Y %R:%S +0000"}</pubDate>
    </item>
{/foreach}
  </channel>
</rss>
