<?php echo '<?xml version="1.0"?>' ?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
  <channel>
    <title><?php echo esc($title)?></title>
    <link><?php echo esc($link)?></link>
    <language><?php echo esc($language)?></language>
    <description><?php echo esc($description)?></description>
<?php foreach ($postings as $posting) { ?>
    <item>
      <title><?php echo esc($posting->get_subject())?></title>
      <author><?php echo esc($posting->get_username())?></author>
      <guid><?php echo esc($posting->get_url_string())?></guid>
      <link><?php echo esc($posting->get_url_string())?></link>
      <pubDate><?php echo strftime('%a, %d %b %Y %R:%S +0000', $posting->get_created_unixtime())?></pubDate>
      <description><?php echo esc($posting->get_body_html())?></description>
    </item>
<?php } ?>
  </channel>
</rss>
