<!-- search -->
<h2>{t}Search{/t}</h2>
{include file="error.inc.tmpl"}

<form action='.' method='get' accept-charset='utf-8'>
<div>
<input type="hidden" name="action"   value="search" />
{if $forum_id}
<input type="hidden" name="forum_id" value="{$forum_id}" />
{/if}
<input type="text"   name="q" size="50" value="{$query|escape}" />
<input type="submit" value="{t}Find Postings{/t}" />
<input type="submit" name="user_search" value="{t}Find Users{/t}" />
</div>
</form>

{if $posting_search}
<br />
{t count=$n_results plural="%1 results found." 1=$n_results}One result found.{/t}<br />
{include file="indexbar.tmpl"}
{include file="latest.tmpl"}
{include file="indexbar.tmpl"}
{elseif $user_search}
<br />
{t count=$n_results plural="%1 results found." 1=$n_results}One result found.{/t}<br />
{include file="indexbar.tmpl"}
{include file="user_list.tmpl"}
{include file="indexbar.tmpl"}
{else}
<table summary=''>
  <tr>
    <td valign='top'>
      <b>{t}Examples:{/t}</b>
    </td>
    <td><i>{t}apples AND "peaches"
      NOT user:"that guy" AND (text:banana OR subject:fruit)
      ban?na AND NOT subject:wildcard*matching{/t}</i>
    </td>
  </tr>
</table>
{/if}
<!-- end search -->
