<!-- search -->
<h2><?php echo esc(_('Search'))?></h2>
<?php require "$template_dir/error.inc.php.tmpl" ?>

<form action='.' method='get' accept-charset='utf-8'>
<div>
<input type="hidden" name="action"   value="search" />
<?php if ($forum_id) { ?>
<input type="hidden" name="forum_id" value="<?php echo $forum_id?>" />
<?php } ?>
<input type="text"   name="q" size="50" value="<?php echo esc($query)?>" />
<input type="submit" value="<?php echo esc(_('Find Postings'))?>" />
<input type="submit" name="user_search" value="<?php echo esc(_('Find Users'))?>" />
</div>
</form>

<?php if ($posting_search) { ?>
<br />
<?php echo esc(sprintf(ngettext('%d result found.', '%d results found.', $n_results), $n_results))?><br/>
<?php
  require "$template_dir/indexbar.php.tmpl";
  require "$template_dir/latest.php.tmpl";
  require "$template_dir/indexbar.php.tmpl";
?>
<?php } elseif ($user_search) { ?>
<br />
<?php echo esc(sprintf(ngettext('%d result found.', '%d results found.', $n_results), $n_results))?><br/>
<?php
  require "$template_dir/indexbar.php.tmpl";
  require "$template_dir/user_list.php.tmpl";
  require "$template_dir/indexbar.php.tmpl";
?>
<?php } else { ?>
<table summary=''>
  <tr>
    <td valign='top'>
      <b><?php echo esc(_('Examples:'))?></b>
    </td>
    <td><i><?php echo nl2br(esc(_('apples AND "peaches"
NOT user:"that guy" AND (text:banana OR subject:fruit)
ban?na AND NOT subject:wildcard*matching')))?></i>
    </td>
  </tr>
</table>
<?php } ?>
<!-- end search -->
